Repository mebtte/cicada: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

new drawer
  apps/pwa/readme.md
  apps/pwa/src/components/drawer/constants.ts
  apps/pwa/src/components/drawer/drawer.tsx
  apps/pwa/src/components/drawer/index.tsx
  apps/pwa/src/components/drawer/title.tsx
  apps/pwa/src/components_next/drawer/drawer.stories.tsx
  apps/pwa/src/components_next/drawer/index.tsx
  apps/pwa/src/components_next/index.ts
  apps/pwa/src/global_style.ts
  apps/pwa/src/pages/admin/music_management/music_edit_drawer.tsx
  apps/pwa/src/pages/login/first_step/manage_drawer.tsx
  apps/pwa/src/pages/player/music_drawer/edit_menu.tsx
  apps/pwa/src/pages/player/music_drawer/index.tsx
  apps/pwa/src/pages/player/music_drawer/music_drawer.tsx
  apps/pwa/src/pages/player/music_drawer/use_open.ts
  apps/pwa/src/pages/player/musicbill_music_drawer/musicbill_music_drawer.tsx
  apps/pwa/src/pages/player/musicbill_shared_user_drawer/musicbill_shared_user_drawer.tsx
  apps/pwa/src/pages/player/pages/user_manage/user_edit_drawer/index.tsx
  apps/pwa/src/pages/player/playlist_playqueue_drawer/index.tsx
  apps/pwa/src/pages/player/public_musicbill_drawer/public_musicbill_drawer.tsx
  apps/pwa/src/pages/player/sidebar/mini_mode.tsx
  apps/pwa/src/pages/player/singer_drawer/index.tsx
  apps/pwa/src/pages/player/singer_drawer/singer_drawer.tsx
  apps/pwa/src/pages/player/singer_drawer/use_open.ts
  apps/pwa/src/pages/player/singer_modify_record_drawer/singer_modify_record_drawer.tsx
  apps/pwa/src/pages/player/sort_musicbilll_drawer/sort_musicbill_drawer.tsx
  apps/pwa/src/pages/player/user_drawer/user_drawer.tsx
Due: eslint --fix, prettier --write

client for apple
  apps/apple/.gitignore
  apps/apple/Cicada.xcodeproj/project.pbxproj
  apps/apple/Cicada.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  apps/apple/Cicada.xcodeproj/xcshareddata/xcschemes/Cicada.xcscheme
  apps/apple/Cicada/App/CicadaApp.swift
  apps/apple/Cicada/Assets.xcassets/AccentColor.colorset/Contents.json
  apps/apple/Cicada/Assets.xcassets/AppIcon.appiconset/Contents.json
  apps/apple/Cicada/Assets.xcassets/Contents.json
  apps/apple/Cicada/Features/ServerSetup/ServerSetupStore.swift
  apps/apple/Cicada/Features/ServerSetup/ServerSetupView.swift
  apps/apple/Cicada/Info.plist
  apps/apple/Cicada/Models/ServerRecord.swift
  apps/apple/Cicada/Services/ServerMetadataClient.swift
  apps/apple/Cicada/Support/AppColors.swift
  apps/apple/Cicada/Support/PlatformInfo.swift
  apps/apple/Cicada/Views/ContentView.swift
  apps/apple/project.yml
  apps/apple/readme.md
Due: prettier --write

update docs
  Makefile
  apps/cli/database.d2
  apps/cli/readme.md
  docs/development/index.md
  docs/development/pwa/index.md
  docs/ui_designment/index.md
  scripts/build_version.mjs
Due: prettier --write

add ffmpeg/ffprobe to cli
  .gitignore
  Makefile
  apps/cli/.air.toml
  apps/cli/cmd/start.go
  apps/cli/internal/ffmpeg/ffmpeg.go
  apps/cli/readme.md
  apps/pwa/src/pages/login/first_step/index.tsx
  apps/pwa/src/pages/login/first_step/manage_content.tsx
  apps/pwa/src/pages/login/first_step/manage_drawer.tsx
  apps/pwa/src/pages/login/first_step/server_list.tsx
  apps/pwa/src/pages/login/index.tsx
  apps/pwa/src/pages/login/manage_page.tsx
  scripts/ensure_ffmpeg_bundle.mjs
  scripts/prepare_ffmpeg_bundle.mjs
Due: eslint --fix, prettier --write

close captcha after logining
  apps/pwa/src/pages/login/second_step/index.tsx
  apps/pwa/src/utils/dialog/captcha/index.tsx
Due: eslint --fix, prettier --write

improve storybook
  apps/pwa/package.json
Due: prettier --write

admin i18n
  apps/pwa/src/components/language_select.tsx
  apps/pwa/src/pages/admin/index.tsx
  apps/pwa/src/pages/login/first_step/language.tsx
  apps/pwa/src/pages/player/pages/setting/language.tsx
Due: eslint --fix, prettier --write

improve fist step of login
  apps/pwa/src/components_next/divider/divider.stories.tsx
  apps/pwa/src/components_next/divider/index.tsx
  apps/pwa/src/components_next/index.ts
  apps/pwa/src/components_next/input/index.tsx
  apps/pwa/src/components_next/select/index.tsx
  apps/pwa/src/components_next/server_card.stories.tsx
  apps/pwa/src/pages/login/first_step/index.tsx
  apps/pwa/src/pages/login/first_step/server_card.tsx
  apps/pwa/src/pages/login/first_step/server_list.tsx
  apps/pwa/src/pages/login/index.tsx
  apps/pwa/src/pages/login/second_step/user_list.tsx
Due: eslint --fix, prettier --write

improve second step of login
  apps/pwa/src/components/label/index.tsx
  apps/pwa/src/components_next/index.ts
  apps/pwa/src/components_next/input/index.tsx
  apps/pwa/src/components_next/label/index.tsx
  apps/pwa/src/components_next/select/index.tsx
  apps/pwa/src/pages/login/first_step/server_list.tsx
  apps/pwa/src/pages/login/second_step/index.tsx
  apps/pwa/src/pages/login/second_step/user_list.tsx
  apps/pwa/src/pages/player/pages/my_music/create_music_dialog/index.tsx
  apps/pwa/src/pages/player/pages/user_manage/user_edit_drawer/user_edit.tsx
  apps/pwa/src/utils/dialog/file_select.tsx
  apps/pwa/src/utils/dialog/input_list.tsx
  apps/pwa/src/utils/dialog/multiple_select.tsx
  apps/pwa/src/utils/dialog/textarea_list.tsx
Due: eslint --fix, prettier --write

improve pr check
  .github/workflows/pull_request_checks.yaml
  apps/pwa/package.json
  apps/pwa/src/components_next/dialog/index.tsx
  apps/pwa/src/components_next/drawer/index.tsx
  apps/pwa/src/components_next/server_card.stories.tsx
  apps/pwa/src/components_next/slider/index.tsx
  apps/pwa/src/components_next/slider/slider.stories.tsx
  apps/pwa/src/pages/admin/music_management/music_edit_drawer.tsx
  apps/pwa/src/pages/player/music_drawer/content.tsx
  apps/pwa/src/pages/player/singer_drawer/content.tsx
  apps/pwa/src/utils/use_event.ts
Due: eslint --fix, prettier --write

remove my music
  apps/cli/internal/api/handler/music.go
  apps/cli/internal/apidoc/openapi.go
  apps/cli/internal/server/server.go
  apps/cli/internal/store/music.go
  apps/pwa/src/constants/index.ts
  apps/pwa/src/constants/route.ts
  apps/pwa/src/i18n/en.ts
  apps/pwa/src/i18n/zh_hans.ts
  apps/pwa/src/pages/admin/music_management/import_section.tsx
  apps/pwa/src/pages/player/header/use_title.ts
  apps/pwa/src/pages/player/pages/my_music/constants.ts
  apps/pwa/src/pages/player/pages/my_music/create_music_dialog/constants.ts
  apps/pwa/src/pages/player/pages/my_music/create_music_dialog/index.tsx
  apps/pwa/src/pages/player/pages/my_music/create_music_dialog/use_open.ts
  apps/pwa/src/pages/player/pages/my_music/eventemitter.ts
  apps/pwa/src/pages/player/pages/my_music/index.tsx
  apps/pwa/src/pages/player/pages/my_music/music_list/index.tsx
  apps/pwa/src/pages/player/pages/my_music/music_list/music.tsx
  apps/pwa/src/pages/player/pages/my_music/music_list/use_music_list.ts
  apps/pwa/src/pages/player/pages/my_music/toolbar/filter.tsx
  apps/pwa/src/pages/player/pages/my_music/toolbar/index.tsx
  apps/pwa/src/pages/player/pages/search/create_music_guide.tsx
  apps/pwa/src/pages/player/pages/search/lyric/index.tsx
  apps/pwa/src/pages/player/pages/search/music/index.tsx
  apps/pwa/src/pages/player/route.tsx
  apps/pwa/src/pages/player/sidebar/menu.tsx
  apps/pwa/src/server/api/get_music_list.ts
  apps/pwa/src/shared/utils/music_file.ts
Due: eslint --fix, prettier --write

user page
  apps/pwa/src/components_next/avatar/avatar.stories.tsx
  apps/pwa/src/components_next/avatar/index.tsx
  apps/pwa/src/components_next/button/index.tsx
  apps/pwa/src/components_next/icon/icon.stories.tsx
  apps/pwa/src/components_next/icon/icons/edit.tsx
  apps/pwa/src/components_next/icon/index.ts
  apps/pwa/src/components_next/index.ts
  apps/pwa/src/components_next/input/index.tsx
  apps/pwa/src/constants/route.ts
  apps/pwa/src/i18n/en.ts
  apps/pwa/src/i18n/zh_hans.ts
  apps/pwa/src/pages/player/eventemitter.ts
  apps/pwa/src/pages/player/header/use_title.ts
  apps/pwa/src/pages/player/index.tsx
  apps/pwa/src/pages/player/pages/user/index.tsx
  apps/pwa/src/pages/player/profile_edit_popup.tsx
  apps/pwa/src/pages/player/route.tsx
  apps/pwa/src/pages/player/sidebar/profile.tsx
  apps/pwa/src/utils/dialog/index.tsx
  apps/pwa/src/utils/notice/index.tsx
Due: eslint --fix, prettier --write

update docs
  docker/docker.md
  docker/docker_build_and_push.sh
  readme.md
Due: prettier --write

docker v3 beta
  .github/workflows/docker_beta_v3.yaml
  Makefile
  docker/Dockerfile
Due: none

improve docker beta build
  .github/workflows/docker_beta_v3.yaml
Due: none

show version on login
  apps/pwa/src/pages/login/index.tsx
Due: eslint --fix, prettier --write

auth refactor
  apps/cli/internal/api/middleware/auth.go
  apps/cli/internal/server/server.go
Due: none

update docs
  apps/cli/readme.md
Due: prettier --write

refactor exploration
  apps/pwa/src/i18n/en.ts
  apps/pwa/src/i18n/zh_hans.ts
  apps/pwa/src/pages/player/pages/exploration/cache.ts
  apps/pwa/src/pages/player/pages/exploration/constants.ts
  apps/pwa/src/pages/player/pages/exploration/cover.tsx
  apps/pwa/src/pages/player/pages/exploration/index.tsx
  apps/pwa/src/pages/player/pages/exploration/use_data.ts
Due: eslint --fix, prettier --write

refactor header
  apps/cli/database/database.100.d2
  apps/pwa/src/pages/player/constants.ts
  apps/pwa/src/pages/player/header/index.tsx
  apps/pwa/src/pages/player/pages/downloading_music/music_list/index.tsx
  apps/pwa/src/pages/player/pages/exploration/index.tsx
  apps/pwa/src/pages/player/pages/music/index.tsx
  apps/pwa/src/pages/player/pages/music_play_record/music_play_record_list/index.tsx
  apps/pwa/src/pages/player/pages/musicbill/musicbill.tsx
  apps/pwa/src/pages/player/pages/public_musicbill_collection/collection_list/index.tsx
  apps/pwa/src/pages/player/pages/search/index.tsx
  apps/pwa/src/pages/player/pages/setting/index.tsx
  apps/pwa/src/pages/player/pages/shared_musicbill_invitation/index.tsx
  apps/pwa/src/pages/player/pages/singer/index.tsx
  apps/pwa/src/pages/player/pages/user/index.tsx
  apps/pwa/src/pages/player/pages/user_manage/user_list/index.tsx
  apps/pwa/src/pages/player/route.tsx
Due: eslint --fix, prettier --write

data migration
  apps/cli/database/database.100.d2
  apps/cli/internal/config/config.go
  apps/cli/internal/store/migration/backup.go
  apps/cli/internal/store/migration/journal.go
  apps/cli/internal/store/migration/migration.go
  apps/cli/internal/store/migration/recover.go
  apps/cli/internal/store/migration/runner.go
  apps/cli/internal/store/migration/runner_test.go
  apps/cli/internal/store/schema.go
  apps/cli/readme.md
  docs/ui_designment/index.md
Due: prettier --write

improve admin layout
  apps/pwa/src/i18n/en.ts
  apps/pwa/src/i18n/zh_hans.ts
  apps/pwa/src/pages/admin/dashboard/index.tsx
  apps/pwa/src/pages/admin/index.tsx
  apps/pwa/src/pages/admin/singer_management/index.tsx
Due: eslint --fix, prettier --write

singer photo
  apps/cli/internal/api/handler/music.go
  apps/cli/internal/api/handler/musicbill.go
  apps/cli/internal/api/handler/singer.go
  apps/cli/internal/api/handler/singer_photo.go
  apps/cli/internal/api/handler/singer_photo_test.go
  apps/cli/internal/api/handler/singer_test.go
  apps/cli/internal/apidoc/openapi.go
  apps/cli/internal/config/config.go
  apps/cli/internal/scheduler/scheduler.go
  apps/cli/internal/server/server.go
  apps/cli/internal/store/migration/m_101_singer_photo.go
  apps/cli/internal/store/migration/m_101_singer_photo_test.go
  apps/cli/internal/store/music.go
  apps/cli/internal/store/schema.go
  apps/cli/internal/store/singer.go
  apps/cli/internal/store/singer_photo.go
Due: none

fix exploration
  apps/cli/internal/api/handler/music.go
  apps/pwa/src/pages/player/pages/exploration/index.tsx
  apps/pwa/src/server/api/get_exploration.ts
Due: eslint --fix, prettier --write

admin singer list
  apps/cli/internal/api/handler/singer.go
  apps/cli/internal/api/handler/singer_test.go
  apps/cli/internal/server/server.go
  apps/cli/internal/store/singer.go
  apps/pwa/src/constants/exception.ts
  apps/pwa/src/constants/index.ts
  apps/pwa/src/i18n/en.ts
  apps/pwa/src/i18n/zh_hans.ts
  apps/pwa/src/pages/admin/index.tsx
  apps/pwa/src/pages/admin/singer_management/index.tsx
  apps/pwa/src/server/api/admin_get_singer_list.ts
Due: eslint --fix, prettier --write

admin routes
  apps/pwa/src/app/app.tsx
  apps/pwa/src/constants/route.ts
  apps/pwa/src/pages/admin/index.tsx
Due: eslint --fix, prettier --write

create singer
  apps/cli/internal/api/handler/singer.go
  apps/cli/internal/api/handler/singer_test.go
  apps/cli/internal/store/singer.go
  apps/cli/internal/store/singer_test.go
  apps/pwa/src/pages/admin/components/create_singer_label.tsx
  apps/pwa/src/pages/admin/music_management/music_edit_drawer.tsx
  apps/pwa/src/pages/admin/open_create_singer_dialog.ts
  apps/pwa/src/pages/admin/singer_management/index.tsx
  apps/pwa/src/pages/player/components/missing_singer.tsx
  apps/pwa/src/pages/player/music_drawer/edit_menu.tsx
  apps/pwa/src/pages/player/pages/search/singer/index.tsx
  apps/pwa/src/pages/player/utils.ts
Due: eslint --fix, prettier --write

remove music_modify_record
  apps/cli/internal/api/handler/music.go
  apps/cli/internal/scheduler/scheduler.go
  apps/cli/internal/store/migration/m_102_drop_music_modify_record.go
  apps/cli/internal/store/migration/m_102_drop_music_modify_record_test.go
  apps/cli/internal/store/music.go
  apps/cli/internal/store/schema.go
Due: none

singer photos
  apps/cli/internal/api/handler/singer.go
  apps/cli/internal/api/handler/singer_test.go
  apps/cli/internal/apidoc/openapi.go
  apps/cli/internal/server/server.go
  apps/pwa/src/components/pagination/constants.ts
  apps/pwa/src/components/pagination/custom_page.tsx
  apps/pwa/src/components/pagination/eventemitter.ts
  apps/pwa/src/components/pagination/index.tsx
  apps/pwa/src/components/pagination/use_pages.ts
  apps/pwa/src/components/pagination/use_pagination.ts
  apps/pwa/src/components/select/index.tsx
  apps/pwa/src/constants/asset.ts
  apps/pwa/src/i18n/en.ts
  apps/pwa/src/i18n/zh_hans.ts
  apps/pwa/src/pages/admin/index.tsx
  apps/pwa/src/pages/admin/singer_management/index.tsx
  apps/pwa/src/pages/admin/singer_management/singer_edit_content.tsx
  apps/pwa/src/pages/admin/singer_management/singer_edit_drawer.tsx
  apps/pwa/src/pages/admin/singer_management/singer_edit_page.tsx
  apps/pwa/src/pages/admin/singer_management/types.ts
  apps/pwa/src/pages/player/pages/music_play_record/music_play_record_list/index.tsx
  apps/pwa/src/pages/player/pages/public_musicbill_collection/collection_list/index.tsx
  apps/pwa/src/pages/player/pages/search/lyric/index.tsx
  apps/pwa/src/pages/player/pages/search/music/index.tsx
  apps/pwa/src/pages/player/pages/search/public_musicbill/index.tsx
  apps/pwa/src/pages/player/pages/search/singer/index.tsx
  apps/pwa/src/server/api/admin_create_singer_photo.ts
  apps/pwa/src/server/api/admin_delete_singer_photo.ts
  apps/pwa/src/server/api/admin_get_singer.ts
  apps/pwa/src/server/api/admin_reorder_singer_photos.ts
  apps/pwa/src/server/api/admin_update_singer_photo.ts
Due: eslint --fix, prettier --write

singer photos edit
  apps/pwa/src/pages/admin/singer_management/singer_edit_content.tsx
  apps/pwa/src/pages/admin/singer_management/singer_edit_drawer.tsx
Due: eslint --fix, prettier --write

image viewer
  apps/pwa/package-lock.json
  apps/pwa/package.json
  apps/pwa/src/components/image_viewer/index.tsx
  apps/pwa/src/i18n/en.ts
  apps/pwa/src/i18n/zh_hans.ts
  apps/pwa/src/pages/admin/singer_management/index.tsx
  apps/pwa/src/pages/player/singer_drawer/info.tsx
Due: eslint --fix, prettier --write

redesign singer drawer
  apps/cli/internal/api/handler/lyric_test.go
  apps/cli/internal/api/handler/music.go
  apps/cli/internal/api/handler/singer.go
  apps/cli/internal/api/handler/singer_test.go
  apps/cli/internal/apidoc/openapi.go
  apps/cli/internal/store/music.go
  apps/cli/internal/store/music_test.go
  apps/pwa/package-lock.json
  apps/pwa/src/components/button/index.tsx
  apps/pwa/src/components/drawer/index.tsx
  apps/pwa/src/pages/player/music_drawer/index.tsx
  apps/pwa/src/pages/player/music_drawer/music_drawer.tsx
  apps/pwa/src/pages/player/musicbill_music_drawer/index.tsx
  apps/pwa/src/pages/player/musicbill_music_drawer/musicbill_music_drawer.tsx
  apps/pwa/src/pages/player/musicbill_shared_user_drawer/index.tsx
  apps/pwa/src/pages/player/musicbill_shared_user_drawer/musicbill_shared_user_drawer.tsx
  apps/pwa/src/pages/player/pages/search/lyric/index.tsx
  apps/pwa/src/pages/player/pages/search/music/index.tsx
  apps/pwa/src/pages/player/pages/search/public_musicbill/index.tsx
  apps/pwa/src/pages/player/pages/search/singer/index.tsx
  apps/pwa/src/pages/player/pages/search/singer/use_data.ts
  apps/pwa/src/pages/player/playlist_playqueue_drawer/index.tsx
  apps/pwa/src/pages/player/public_musicbill_drawer/index.tsx
  apps/pwa/src/pages/player/public_musicbill_drawer/public_musicbill_drawer.tsx
  apps/pwa/src/pages/player/singer_drawer/content.tsx
  apps/pwa/src/pages/player/singer_drawer/index.tsx
  apps/pwa/src/pages/player/singer_drawer/info.tsx
  apps/pwa/src/pages/player/singer_drawer/singer_drawer.tsx
  apps/pwa/src/pages/player/singer_drawer/toolbar.tsx
  apps/pwa/src/pages/player/singer_modify_record_drawer/index.tsx
  apps/pwa/src/pages/player/singer_modify_record_drawer/singer_modify_record_drawer.tsx
  apps/pwa/src/pages/player/sort_musicbilll_drawer/index.tsx
  apps/pwa/src/pages/player/sort_musicbilll_drawer/sort_musicbill_drawer.tsx
  apps/pwa/src/pages/player/user_drawer/index.tsx
  apps/pwa/src/pages/player/user_drawer/user_drawer.tsx
  apps/pwa/src/server/api/search_music_by_lyric.ts
  apps/pwa/src/server/api/search_singer.ts
Due: eslint --fix, prettier --write

redesign search
  apps/cli/internal/api/handler/singer.go
  apps/cli/internal/api/handler/singer_test.go
  apps/cli/internal/apidoc/openapi.go
  apps/pwa/src/components/duolingo_tabs.stories.tsx
  apps/pwa/src/components/duolingo_tabs.tsx
  apps/pwa/src/components/index.ts
  apps/pwa/src/i18n/zh_hans.ts
  apps/pwa/src/pages/player/eventemitter.ts
  apps/pwa/src/pages/player/header/index.tsx
  apps/pwa/src/pages/player/header/title.tsx
  apps/pwa/src/pages/player/header/use_title.ts
  apps/pwa/src/pages/player/pages/musicbill/filter.tsx
  apps/pwa/src/pages/player/pages/search/constants.ts
  apps/pwa/src/pages/player/pages/search/content.tsx
  apps/pwa/src/pages/player/pages/search/index.tsx
  apps/pwa/src/pages/player/pages/search/lyric/index.tsx
  apps/pwa/src/pages/player/pages/search/music/index.tsx
  apps/pwa/src/pages/player/pages/search/public_musicbill/index.tsx
  apps/pwa/src/pages/player/pages/search/singer/index.tsx
  apps/pwa/src/pages/player/pages/singer/index.tsx
  apps/pwa/src/pages/player/route.tsx
  apps/pwa/src/pages/player/sidebar/menu.tsx
  apps/pwa/src/pages/player/sidebar/musicbill_list/top.tsx
  apps/pwa/src/pages/player/singer_drawer/constants.ts
  apps/pwa/src/pages/player/singer_drawer/content.tsx
  apps/pwa/src/pages/player/singer_drawer/singer_drawer.tsx
  apps/pwa/src/pages/player/singer_drawer/toolbar.tsx
  apps/pwa/src/server/api/get_singer.ts
  apps/pwa/src/utils/use_navigate.ts
Due: eslint --fix, prettier --write

redesign controller
  apps/pwa/src/global_style.ts
  apps/pwa/src/pages/player/constants.ts
  apps/pwa/src/pages/player/controller/controller.tsx
  apps/pwa/src/pages/player/controller/cover.tsx
  apps/pwa/src/pages/player/controller/info.tsx
  apps/pwa/src/pages/player/controller/operation.tsx
  apps/pwa/src/pages/player/controller/progress_bar.tsx
  apps/pwa/src/pages/player/controller/time.tsx
  apps/pwa/src/pages/player/index.tsx
  apps/pwa/src/pages/player/music_drawer/content.tsx
  apps/pwa/src/pages/player/music_drawer/toolbar.tsx
  apps/pwa/src/pages/player/pages/downloading_music/music_list/index.tsx
  apps/pwa/src/pages/player/pages/downloading_music/toolbar/index.tsx
  apps/pwa/src/pages/player/pages/exploration/index.tsx
  apps/pwa/src/pages/player/pages/music/index.tsx
  apps/pwa/src/pages/player/pages/music_play_record/music_play_record_list/index.tsx
  apps/pwa/src/pages/player/pages/music_play_record/toolbar/index.tsx
  apps/pwa/src/pages/player/pages/musicbill/filter.tsx
  apps/pwa/src/pages/player/pages/musicbill/music_list.tsx
  apps/pwa/src/pages/player/pages/public_musicbill_collection/collection_list/index.tsx
  apps/pwa/src/pages/player/pages/public_musicbill_collection/toolbar/index.tsx
  apps/pwa/src/pages/player/pages/search/lyric/index.tsx
  apps/pwa/src/pages/player/pages/search/music/index.tsx
  apps/pwa/src/pages/player/pages/search/public_musicbill/index.tsx
  apps/pwa/src/pages/player/pages/search/singer/index.tsx
  apps/pwa/src/pages/player/pages/setting/index.tsx
  apps/pwa/src/pages/player/pages/shared_musicbill_invitation/index.tsx
  apps/pwa/src/pages/player/pages/user/index.tsx
  apps/pwa/src/pages/player/pages/user_manage/toolbar/index.tsx
  apps/pwa/src/pages/player/pages/user_manage/user_list/index.tsx
  apps/pwa/src/pages/player/sidebar/musicbill_list/musicbill_list.tsx
  apps/pwa/src/pages/player/singer_drawer/content.tsx
  apps/pwa/src/pages/player/singer_drawer/toolbar.tsx
Due: eslint --fix, prettier --write

redesign sidebar
  apps/pwa/src/pages/player/sidebar/content.tsx
  apps/pwa/src/pages/player/sidebar/download_tag.tsx
  apps/pwa/src/pages/player/sidebar/index.tsx
  apps/pwa/src/pages/player/sidebar/menu.tsx
  apps/pwa/src/pages/player/sidebar/mini_mode.tsx
  apps/pwa/src/pages/player/sidebar/musicbill_list/index.tsx
  apps/pwa/src/pages/player/sidebar/musicbill_list/musicbill.tsx
  apps/pwa/src/pages/player/sidebar/musicbill_list/musicbill_list.tsx
  apps/pwa/src/pages/player/sidebar/musicbill_list/top.tsx
  apps/pwa/src/pages/player/sidebar/profile.tsx
Due: eslint --fix, prettier --write

redesign exploration
  apps/pwa/src/pages/player/components/singer.tsx
  apps/pwa/src/pages/player/pages/exploration/cover.tsx
  apps/pwa/src/pages/player/pages/exploration/index.tsx
  apps/pwa/src/pages/player/pages/exploration/public_musicbill_info.tsx
  apps/pwa/src/pages/player/sidebar/mini_mode.tsx
Due: eslint --fix, prettier --write

redesign musci drawer
  apps/cli/internal/api/handler/music.go
  apps/cli/internal/api/handler/user.go
  apps/cli/internal/api/handler/user_test.go
  apps/cli/internal/apidoc/openapi.go
  apps/cli/internal/server/server.go
  apps/cli/internal/store/music.go
  apps/pwa/src/i18n/en.ts
  apps/pwa/src/i18n/zh_hans.ts
  apps/pwa/src/pages/player/eventemitter.ts
  apps/pwa/src/pages/player/header/use_title.ts
  apps/pwa/src/pages/player/music_drawer/constants.ts
  apps/pwa/src/pages/player/music_drawer/content.tsx
  apps/pwa/src/pages/player/music_drawer/info.tsx
  apps/pwa/src/pages/player/music_drawer/lyric.tsx
  apps/pwa/src/pages/player/music_drawer/music_drawer.tsx
  apps/pwa/src/pages/player/music_drawer/singer_list/index.tsx
  apps/pwa/src/pages/player/music_drawer/singer_list/singer.tsx
  apps/pwa/src/pages/player/music_drawer/sub_music_list.tsx
  apps/pwa/src/pages/player/music_drawer/tag.tsx
  apps/pwa/src/pages/player/music_drawer/toolbar.tsx
  apps/pwa/src/pages/player/music_drawer/use_data.ts
  apps/pwa/src/pages/player/pages/music/index.tsx
  apps/pwa/src/pages/player/pages/user/index.tsx
  apps/pwa/src/server/api/get_music.ts
  apps/pwa/src/server/api/get_user.ts
Due: eslint --fix, prettier --write

redesign musicbill detail
  apps/pwa/src/i18n/en.ts
  apps/pwa/src/i18n/zh_hans.ts
  apps/pwa/src/pages/player/music_drawer/content.tsx
  apps/pwa/src/pages/player/music_drawer/info.tsx
  apps/pwa/src/pages/player/pages/musicbill/constants.ts
  apps/pwa/src/pages/player/pages/musicbill/filter.tsx
  apps/pwa/src/pages/player/pages/musicbill/info.tsx
  apps/pwa/src/pages/player/pages/musicbill/mini_info.tsx
  apps/pwa/src/pages/player/pages/musicbill/music_list.tsx
  apps/pwa/src/pages/player/pages/musicbill/musicbill.tsx
  apps/pwa/src/pages/player/pages/musicbill/operation.tsx
  apps/pwa/src/pages/player/sidebar/menu.tsx
  apps/pwa/src/pages/player/sidebar/musicbill_list/index.tsx
  apps/pwa/src/pages/player/sidebar/musicbill_list/musicbill.tsx
  apps/pwa/src/pages/player/sidebar/musicbill_list/top.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{html,css,js,jsx,ts,tsx,json,md}
