Repository mebtte/cicada: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix"],
  "*.{html,css,js,jsx,ts,tsx,json,md}": ["prettier --write"]
}

fix exploration on safari
  apps/pwa/src/pages/player/pages/exploration/cover.tsx
Due: eslint --fix, prettier --write

fix tab style
  apps/pwa/src/components/tabs.tsx
Due: eslint --fix, prettier --write

remove background
  apps/pwa/src/pages/admin/dashboard/index.tsx
  apps/pwa/src/pages/admin/index.tsx
  apps/pwa/src/pages/login/manage_page.tsx
  apps/pwa/src/pages/player/pages/artist/index.tsx
  apps/pwa/src/pages/player/pages/exploration/index.tsx
  apps/pwa/src/pages/player/pages/music/index.tsx
  apps/pwa/src/pages/player/pages/musicbill/musicbill.tsx
  apps/pwa/src/pages/player/pages/offline_cache/index.tsx
  apps/pwa/src/pages/player/pages/public_musicbill_collection/index.tsx
  apps/pwa/src/pages/player/public_musicbill_collection_drawer/index.tsx
  apps/pwa/src/pages/radio/page.tsx
Due: eslint --fix, prettier --write

remove languageselect from storybook
  apps/pwa/src/features/language/language_select.stories.tsx
Due: eslint --fix, prettier --write

add storybook to cli
  Makefile
  apps/cli/.gitignore
  apps/cli/cmd/start.go
  apps/cli/storybook/storybook_dev.go
  apps/cli/storybook/storybook_prod.go
  apps/cli/storybook/storybook_prod_test.go
  apps/pwa/.gitignore
  readme.md
Due: prettier --write

improve version display
  apps/pwa/src/pages/login/index.tsx
Due: eslint --fix, prettier --write

reduce same components
  apps/pwa/src/pages/player/pages/user_manage/user_list/user.tsx
Due: eslint --fix, prettier --write

improve list view
  apps/pwa/src/pages/admin/artist_management/index.tsx
  apps/pwa/src/pages/admin/music_management/music_list.tsx
  apps/pwa/src/pages/admin/user_management/index.tsx
Due: eslint --fix, prettier --write

improve search words
  apps/pwa/src/i18n/en.ts
  apps/pwa/src/i18n/zh_hans.ts
  apps/pwa/src/pages/admin/music_management/music_list.tsx
Due: eslint --fix, prettier --write

improve search
  apps/cli/internal/store/lyric_test.go
  apps/cli/internal/store/music_test.go
Due: none

improve admin sidebar
  apps/pwa/src/components/app_drawer/app_drawer.stories.tsx
  apps/pwa/src/components/drawer/drawer.stories.tsx
  apps/pwa/src/components/drawer/index.tsx
  apps/pwa/src/features/player/drawers/artist_drawer/artist_drawer.tsx
  apps/pwa/src/features/player/drawers/music_drawer/music_drawer.tsx
  apps/pwa/src/features/player/drawers/musicbill_drawer/musicbill_drawer.tsx
  apps/pwa/src/features/player/drawers/user_drawer/user_drawer.tsx
  apps/pwa/src/pages/admin/components/artist_edit/drawer.tsx
  apps/pwa/src/pages/admin/components/user_edit/drawer.tsx
  apps/pwa/src/pages/admin/index.tsx
  apps/pwa/src/pages/admin/music_management/music_edit_drawer.tsx
  apps/pwa/src/pages/player/artist_drawer/artist_drawer.tsx
  apps/pwa/src/pages/player/authorized_device_drawer/index.tsx
  apps/pwa/src/pages/player/music_drawer/music_drawer.tsx
  apps/pwa/src/pages/player/public_musicbill_collection_drawer/index.tsx
  apps/pwa/src/pages/player/sidebar/mini_mode.tsx
Due: eslint --fix, prettier --write

improve avatar
  apps/pwa/src/components/avatar/index.tsx
Due: eslint --fix, prettier --write

improve musicbill-music drawer
  apps/pwa/src/features/player/drawers/musicbill_music_drawer/musicbill.tsx
  apps/pwa/src/features/player/drawers/musicbill_music_drawer/top.tsx
Due: eslint --fix, prettier --write

fix sidebar style
  apps/pwa/src/pages/player/sidebar/index.tsx
Due: eslint --fix, prettier --write

improve words
  apps/pwa/src/i18n/en.ts
  apps/pwa/src/i18n/zh_hans.ts
  apps/pwa/src/pages/player/sidebar/musicbill_list/top.tsx
Due: eslint --fix, prettier --write

improve words
  apps/pwa/src/i18n/zh_hans.ts
  apps/pwa/src/pages/player/pages/musicbill/operation.tsx
Due: eslint --fix, prettier --write

remove default cover
  apps/pwa/src/asset/default_cover.jpeg
  apps/pwa/src/components/avatar/avatar.stories.tsx
  apps/pwa/src/components/cover/cover.stories.tsx
  apps/pwa/src/components/cover/cover.tsx
  apps/pwa/src/components/image_viewer/image_viewer.stories.tsx
  apps/pwa/src/features/player/drawers/user_drawer/use_data.ts
  apps/pwa/src/features/player/lyric_panel/cover.tsx
  apps/pwa/src/features/player/use_musicbill_list.ts
  apps/pwa/src/pages/admin/components/user_edit/content.tsx
  apps/pwa/src/pages/admin/music_management/music_edit_drawer.tsx
  apps/pwa/src/pages/player/controller/cover.tsx
  apps/pwa/src/pages/player/pages/search/artist/use_data.ts
  apps/pwa/src/pages/player/pages/search/public_musicbill/use_data.ts
  apps/pwa/src/pages/player/pages/user_manage/user_list/use_data.ts
Due: eslint --fix, prettier --write

upgrade typescript
  apps/pwa/package-lock.json
  apps/pwa/package.json
  apps/pwa/src/asset.d.ts
  apps/pwa/src/pages/player/pages/search/public_musicbill/musicbill.tsx
  apps/pwa/src/pages/player/pages/search/public_musicbill/use_data.ts
  apps/pwa/src/pages/player/pages/user_manage/user_list/use_data.ts
  apps/pwa/src/utils/sleep.ts
  apps/pwa/src/utils/timeout.ts
  apps/pwa/tsconfig.json
Due: eslint --fix, prettier --write

improve artist search
  apps/pwa/src/components/tabs.tsx
  apps/pwa/src/pages/player/pages/search/artist/artist.tsx
  apps/pwa/src/pages/player/pages/search/artist/index.tsx
  apps/pwa/src/pages/player/pages/search/artist/use_data.ts
Due: eslint --fix, prettier --write

remove repeated default cover
  apps/pwa/src/components/cover/cover.stories.tsx
  apps/pwa/src/components/image_viewer/image_viewer.stories.tsx
  apps/pwa/src/features/player/drawers/user_drawer/use_data.ts
  apps/pwa/src/features/player/use_musicbill_list.ts
  apps/pwa/src/pages/player/controller/cover.tsx
Due: eslint --fix, prettier --write

improve lyric panel
  apps/pwa/src/features/player/lyric_panel/cover.tsx
Due: eslint --fix, prettier --write

use favicon as logo
  apps/pwa/src/pages/player/header/index.tsx
Due: eslint --fix, prettier --write

improve apple
  apps/apple/Cicada.xcodeproj/project.pbxproj
  apps/apple/Cicada/App/AppNavigationStore.swift
  apps/apple/Cicada/App/CicadaApp.swift
  apps/apple/Cicada/Features/Player/PlayerAccountViews.swift
  apps/apple/Cicada/Features/Player/PlayerExplorationRadioViews.swift
  apps/apple/Cicada/Features/Player/PlayerLayout.swift
  apps/apple/Cicada/Features/Player/PlayerMusicbillDetailViews.swift
  apps/apple/Cicada/Features/Player/PlayerMusicbillNameSheet.swift
  apps/apple/Cicada/Features/Player/PlayerMusicbillSupportViews.swift
  apps/apple/Cicada/Features/Player/PlayerNowPlayingViews.swift
  apps/apple/Cicada/Features/Player/PlayerSearchViews.swift
  apps/apple/Cicada/Features/Player/PlayerSidebar.swift
  apps/apple/Cicada/Features/Player/PlayerView.swift
  apps/apple/Cicada/Features/Settings/SettingsView.swift
  apps/apple/Cicada/Info.plist
  apps/apple/Cicada/Services/AudioPlayerController.swift
  apps/apple/Cicada/Support/AppColors.swift
Due: none

fix select on mobile drawer
  apps/pwa/src/components/select/index.tsx
Due: eslint --fix, prettier --write

apple test
  .github/workflows/pull_request_checks.yaml
  apps/apple/Cicada.xcodeproj/project.pbxproj
  apps/apple/Cicada.xcodeproj/xcshareddata/xcschemes/Cicada.xcscheme
  apps/apple/CicadaTests/ServerRecordTests.swift
  apps/apple/CicadaTests/ServerSetupStoreTests.swift
  apps/apple/project.yml
Due: none

fix apple test
  apps/apple/Cicada.xcodeproj/project.pbxproj
  apps/apple/project.yml
Due: none

fix apple test
  .github/workflows/pull_request_checks.yaml
Due: none

fix apple test
  apps/apple/CicadaTests/ServerSetupStoreTests.swift
Due: none

typescript 7
  apps/pwa/package-lock.json
  apps/pwa/package.json
Due: prettier --write

fix vite error
  apps/pwa/src/components/avatar/avatar.stories.tsx
  apps/pwa/src/components/cover/cover.tsx
Due: eslint --fix, prettier --write

fix: close play detail when focusing search via cmd+f in wide screen
  apps/pwa/src/pages/player/use_search_hotkey.ts
Due: eslint --fix, prettier --write

style: match instrumental cover shadow with avatar frame
  apps/pwa/src/features/player/lyric_panel/cover.tsx
Due: eslint --fix, prettier --write

refactor: standardize client language query parameter
  apps/apple/Cicada/Services/CicadaAPIClient.swift
  apps/apple/Cicada/Services/ServerMetadataClient.swift
  apps/apple/Cicada/Support/AppSettings.swift
  apps/apple/CicadaTests/ServerSetupStoreTests.swift
  apps/cli/internal/apidoc/apidoc_test.go
  apps/cli/internal/apidoc/openapi.go
  apps/pwa/src/constants/index.ts
  apps/pwa/src/constants/language.ts
  apps/pwa/src/server/asset/upload_asset_chunked.ts
  apps/pwa/src/server/common_params.ts
  apps/pwa/src/server/index.ts
  apps/pwa/src/service_worker.ts
  apps/pwa/test/utils.test.ts
Due: eslint --fix, prettier --write

add message to response
  apps/apple/Cicada/Services/CicadaAPIClient.swift
  apps/apple/Cicada/Services/ServerMetadataClient.swift
  apps/cli/internal/api/apperr/messages.go
  apps/cli/internal/api/apperr/messages_test.go
  apps/cli/internal/api/middleware/recovery.go
  apps/cli/internal/api/middleware/recovery_test.go
  apps/cli/internal/api/response.go
  apps/cli/internal/api/response_test.go
  apps/cli/internal/apidoc/apidoc_test.go
  apps/cli/internal/apidoc/openapi.go
  apps/pwa/package-lock.json
  apps/pwa/src/i18n/en.ts
  apps/pwa/src/i18n/zh_hans.ts
  apps/pwa/src/pages/admin/components/artist_edit/content.tsx
  apps/pwa/src/pages/admin/music_management/import/upload_manager.ts
  apps/pwa/src/pages/admin/open_create_artist_dialog.ts
  apps/pwa/src/pages/player/2fa_dialog/index.tsx
  apps/pwa/src/server/asset/upload_asset_chunked.ts
Due: eslint --fix, prettier --write

feat: add Traditional Chinese language support
  apps/apple/Cicada/Features/Settings/SettingsView.swift
  apps/apple/Cicada/Support/AppSettings.swift
  apps/apple/CicadaTests/ServerSetupStoreTests.swift
  apps/cli/internal/api/apperr/messages.go
  apps/cli/internal/api/apperr/messages_test.go
  apps/cli/internal/api/response_test.go
  apps/cli/internal/apidoc/apidoc_test.go
  apps/cli/internal/apidoc/openapi.go
  apps/pwa/index.html
  apps/pwa/src/constants/language.ts
  apps/pwa/src/features/language/language_select.tsx
  apps/pwa/src/global_states/setting.ts
  apps/pwa/src/i18n/index.ts
  apps/pwa/src/i18n/zh_hans.ts
  apps/pwa/src/i18n/zh_hant.ts
  apps/pwa/test/utils.test.ts
Due: eslint --fix, prettier --write

npm audit fix
  apps/pwa/package-lock.json
Due: prettier --write

Replace logo fallbacks with semantic cover placeholders
  apps/pwa/src/components/cover/constants.ts
  apps/pwa/src/components/cover/cover.stories.tsx
  apps/pwa/src/components/cover/cover.tsx
  apps/pwa/src/components/cover/index.tsx
  apps/pwa/src/components/icon/icons/person.tsx
  apps/pwa/src/components/icon/index.ts
  apps/pwa/src/features/music/components/music_info/index.tsx
  apps/pwa/src/features/music/components/musicbill_cover/index.tsx
  apps/pwa/src/features/player/drawers/music_drawer/related_public_musicbill_list.tsx
  apps/pwa/src/features/player/drawers/musicbill_drawer/info.tsx
  apps/pwa/src/features/player/drawers/musicbill_drawer/musicbill_drawer.tsx
  apps/pwa/src/features/player/drawers/user_drawer/mini_info.tsx
  apps/pwa/src/features/player/drawers/user_drawer/musicbill.tsx
  apps/pwa/src/features/player/drawers/user_drawer/user_drawer.tsx
  apps/pwa/src/pages/player/controller/cover.tsx
  apps/pwa/src/pages/player/musicbill_followed_artist_drawer/artist.tsx
  apps/pwa/src/pages/player/musicbill_shared_user_drawer/user.tsx
  apps/pwa/src/pages/player/pages/musicbill/edit_menu.tsx
  apps/pwa/src/pages/player/pages/search/artist/artist.tsx
  apps/pwa/src/pages/player/pages/search/public_musicbill/musicbill.tsx
  apps/pwa/src/pages/player/pages/user_manage/user_list/user.tsx
  apps/pwa/src/pages/player/sort_musicbilll_drawer/musicbill.tsx
Due: eslint --fix, prettier --write

Unify semantic cover fallbacks across the PWA
  apps/pwa/src/components/avatar/index.tsx
  apps/pwa/src/components/image_frame/index.tsx
  apps/pwa/src/features/player/drawers/artist_drawer/content.tsx
  apps/pwa/src/features/player/drawers/music_drawer/content.tsx
  apps/pwa/src/features/player/lyric_panel/cover.tsx
  apps/pwa/src/pages/admin/components/artist_edit/content.tsx
  apps/pwa/src/pages/player/pages/exploration/cover.tsx
  apps/pwa/src/pages/player/pages/musicbill/info.tsx
  apps/pwa/src/pages/player/pages/musicbill/mini_info.tsx
  apps/pwa/src/pages/player/sidebar/musicbill_list/musicbill.tsx
Due: eslint --fix, prettier --write
