Repository mebtte/cicada: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix"],
  "*.{html,css,js,jsx,ts,tsx,json,md}": ["prettier --write"]
}

add state of stop-timer
  apps/pwa/src/i18n/en_us.ts
  apps/pwa/src/i18n/zh_hans.ts
  apps/pwa/src/pages/player/constants.ts
  apps/pwa/src/pages/player/context.ts
  apps/pwa/src/pages/player/eventemitter.ts
  apps/pwa/src/pages/player/index.tsx
  apps/pwa/src/pages/player/pages/setting/index.tsx
  apps/pwa/src/pages/player/pages/setting/stop_timer.tsx
  apps/pwa/src/pages/player/use_stop_timer.ts
Due: eslint --fix, prettier --write

stop-timer ui
  apps/pwa/src/i18n/en_us.ts
  apps/pwa/src/i18n/zh_hans.ts
  apps/pwa/src/pages/player/constants.ts
  apps/pwa/src/pages/player/eventemitter.ts
  apps/pwa/src/pages/player/index.tsx
  apps/pwa/src/pages/player/pages/setting/stop_timer.tsx
  apps/pwa/src/pages/player/stop_timer/content.tsx
  apps/pwa/src/pages/player/stop_timer/index.tsx
  apps/pwa/src/pages/player/use_stop_timer.ts
  apps/pwa/src/storage.ts
Due: eslint --fix, prettier --write

fix stop-timer position
  apps/pwa/src/pages/player/stop_timer/index.tsx
Due: eslint --fix, prettier --write

upgrade react-lrc
  package-lock.json
  package.json
Due: prettier --write

feat: get music name from filename automatically
  apps/pwa/src/pages/player/pages/my_music/create_music_dialog/index.tsx
  apps/pwa/src/pages/player/pages/my_music/create_music_dialog/utils.ts
  shared/utils/get_music_file_metadata.ts
Due: eslint --fix, prettier --write

update readme
  readme.md
Due: prettier --write

refactor theme
  apps/pwa/src/app/index.tsx
  apps/pwa/src/global_states/theme/index.ts
  apps/pwa/src/global_states/theme/scrollbar_observer.ts
  apps/pwa/src/pages/player/controller/controller.tsx
  apps/pwa/src/pages/player/controller/operation.tsx
  apps/pwa/src/pages/player/header/index.tsx
  apps/pwa/src/pages/player/header/search.tsx
  apps/pwa/src/pages/player/header/use_titlebar.ts
  apps/pwa/src/pages/player/pages/search/index.tsx
  apps/pwa/src/pages/player/pages/setting/volume.tsx
  apps/pwa/src/pages/player/sidebar/index.tsx
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

refactor server
  apps/pwa/src/global_states/server.ts
  apps/pwa/src/global_states/theme/scrollbar_observer.ts
  apps/pwa/src/pages/login/first_step/index.tsx
  apps/pwa/src/pages/login/first_step/manage_drawer.tsx
  apps/pwa/src/pages/login/first_step/server_list.tsx
  apps/pwa/src/pages/login/second_step/index.tsx
  apps/pwa/src/pages/login/second_step/user_list.tsx
  apps/pwa/src/pages/player/pages/musicbill/utils.ts
  apps/pwa/src/pages/player/pages/setting/extra_info.tsx
  apps/pwa/src/pages/player/pages/setting/logout.tsx
  apps/pwa/src/server/base/upload_music_play_record.ts
  apps/pwa/src/server/index.ts
Due: eslint --fix, prettier --write

refactor setting
  apps/cli/src/commands/start_server/middlewares/i18n.ts
  apps/pwa/src/global_states/server.ts
  apps/pwa/src/global_states/setting.ts
  apps/pwa/src/i18n/index.ts
  apps/pwa/src/pages/login/first_step/language.tsx
  apps/pwa/src/pages/player/pages/setting/language.tsx
  apps/pwa/src/pages/player/pages/setting/volume.tsx
  apps/pwa/src/pages/player/use_audio/use_volume.ts
  apps/pwa/src/server/index.ts
  apps/pwa/src/utils/x_state.tsx
Due: eslint --fix, prettier --write

improve server
  apps/pwa/src/server/index.ts
Due: eslint --fix, prettier --write

improve slider
  apps/pwa/src/components/slider/slider.tsx
Due: eslint --fix, prettier --write

upgrade zustand
  package-lock.json
  package.json
Due: prettier --write

refactor i18n
  apps/cli/src/i18n/constants.ts
  apps/cli/src/i18n/en.ts
  apps/cli/src/i18n/index.ts
  apps/cli/src/i18n/ja.ts
  apps/pwa/src/global_states/setting.ts
  apps/pwa/src/i18n/constants.ts
  apps/pwa/src/i18n/en.ts
  apps/pwa/src/i18n/index.ts
  apps/pwa/src/i18n/ja.ts
  shared/constants/index.ts
Due: eslint --fix, prettier --write

improve restoring playlist
  apps/pwa/src/global_states/server.ts
  apps/pwa/src/pages/player/use_playlist/use_playlist_restore.tsx
Due: eslint --fix, prettier --write

fix: failed to restore playlist
  apps/pwa/src/global_states/server.ts
  apps/pwa/src/pages/player/use_playlist/use_playlist_restore.tsx
  apps/pwa/src/utils/use_event.ts
  apps/pwa/src/utils/use_unmount.ts
Due: eslint --fix, prettier --write

add size_detector
  apps/pwa/src/components/select/multiple_select.tsx
  apps/pwa/src/components/size_detector.tsx
  apps/pwa/src/global_states/theme/index.ts
  apps/pwa/src/pages/player/pages/musicbill/musicbill.tsx
  apps/pwa/src/pages/player/use_audio/index.ts
  apps/pwa/src/utils/use_titlebar_area_rect.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

remove width-observer
  apps/pwa/src/components/size_observer.tsx
  apps/pwa/src/components/width_observer.tsx
  apps/pwa/src/pages/player/pages/exploration/index.tsx
  apps/pwa/src/pages/player/pages/public_musicbill_collection/collection_list/index.tsx
  apps/pwa/src/pages/player/pages/search/public_musicbill/index.tsx
  apps/pwa/src/pages/player/pages/search/singer/index.tsx
  apps/pwa/src/pages/player/pages/user_manage/user_list/index.tsx
Due: eslint --fix, prettier --write

use custom header to authorize
  .eslintrc.yml
  apps/cli/src/commands/start_server/middlewares/authorize.ts
  apps/pwa/src/server/api/get_profile.ts
  apps/pwa/src/server/index.ts
  shared/constants/index.ts
Due: eslint --fix, prettier --write

improves get_user
  apps/cli/src/commands/start_server/api_app/controllers/get_user.ts
  shared/server/api/get_profile.ts
  shared/server/api/get_user.ts
Due: eslint --fix, prettier --write

formats code
  apps/cli/src/commands/start_server/api_app/controllers/admin_get_user_list.ts
  apps/cli/src/commands/start_server/api_app/controllers/get_exploration.ts
  apps/cli/src/commands/start_server/api_app/controllers/get_music.ts
  apps/cli/src/commands/start_server/api_app/controllers/get_music_list.ts
  apps/cli/src/commands/start_server/api_app/controllers/get_music_play_record_list.ts
  apps/cli/src/commands/start_server/api_app/controllers/get_musicbill.ts
  apps/cli/src/commands/start_server/api_app/controllers/get_musicbill_list.ts
  apps/cli/src/commands/start_server/api_app/controllers/get_public_musicbill.ts
  apps/cli/src/commands/start_server/api_app/controllers/get_public_musicbill_collection_list.ts
  apps/cli/src/commands/start_server/api_app/controllers/get_singer.ts
  apps/cli/src/commands/start_server/api_app/controllers/get_user.ts
  apps/cli/src/commands/start_server/api_app/controllers/search_music.ts
  apps/cli/src/commands/start_server/api_app/controllers/search_music_by_lyric.ts
  apps/cli/src/commands/start_server/api_app/controllers/search_public_musicbill.ts
  shared/server/api/get_musicbill.ts
  shared/server/api/get_musicbill_list.ts
  shared/utils/exclude_properties.ts
Due: eslint --fix, prettier --write

remove auto-check-pwa-updates
  apps/pwa/src/updater.tsx
Due: eslint --fix, prettier --write

play music
  apps/cli/src/commands/start_server/api_app/controllers/get_music_list.ts
  apps/cli/src/commands/start_server/api_app/controllers/get_musicbill.ts
  apps/cli/src/commands/start_server/api_app/controllers/get_singer.ts
  apps/cli/src/commands/start_server/api_app/controllers/get_user.ts
  apps/flutter/lib/event_bus.dart
  apps/flutter/lib/main.dart
  apps/flutter/lib/model/music.dart
  apps/flutter/lib/model/singer.dart
  apps/flutter/lib/pages/musicbill/index.dart
  apps/flutter/lib/server/api/get_musicbill.dart
  apps/flutter/lib/states/musicbill.dart
  apps/flutter/lib/states/playlist.dart
  apps/flutter/lib/states/playqueue.dart
  shared/server/api/get_musicbill.ts
  shared/server/api/get_singer.ts
  shared/server/api/get_user.ts
Due: eslint --fix, prettier --write

play music event
  apps/flutter/lib/app.dart
  apps/flutter/lib/event_bus.dart
  apps/flutter/lib/main.dart
  apps/flutter/lib/states/playlist.dart
  apps/flutter/lib/states/playqueue.dart
Due: none

play indicator
  apps/flutter/lib/app.dart
  apps/flutter/lib/event_bus.dart
  apps/flutter/lib/models/music.dart
  apps/flutter/lib/models/singer.dart
  apps/flutter/lib/pages/musicbill/index.dart
  apps/flutter/lib/play_indicator/index.dart
  apps/flutter/lib/server/api/get_musicbill.dart
  apps/flutter/lib/states/musicbill.dart
  apps/flutter/lib/states/playlist.dart
  apps/flutter/lib/states/playqueue.dart
Due: none

fix playqueue state
  apps/flutter/lib/app.dart
  apps/flutter/lib/play_indicator/index.dart
  apps/flutter/lib/play_indicator/play_indicator.dart
  apps/flutter/lib/states/playqueue.dart
Due: none

audio player
  apps/flutter/lib/app.dart
  apps/flutter/lib/audio_handler.dart
  apps/flutter/lib/main.dart
  apps/flutter/lib/states/playqueue.dart
  apps/flutter/lib/states/server.dart
Due: none

add music list to playlist
  apps/flutter/lib/audio_handler.dart
  apps/flutter/lib/event_bus.dart
  apps/flutter/lib/pages/home/index.dart
  apps/flutter/lib/pages/musicbill/actions.dart
  apps/flutter/lib/pages/musicbill/index.dart
  apps/flutter/lib/states/playlist.dart
  apps/flutter/lib/states/playqueue.dart
  apps/flutter/lib/states/server.dart
  apps/pwa/src/pages/player/playlist_playqueue_drawer/playqueue.tsx
Due: eslint --fix, prettier --write

audio controller
  apps/flutter/lib/app.dart
  apps/flutter/lib/audio_handler.dart
  apps/flutter/lib/main.dart
  apps/flutter/lib/play_indicator/play_indicator.dart
  apps/flutter/lib/player_controller/actions.dart
  apps/flutter/lib/player_controller/index.dart
  apps/flutter/lib/player_controller/player_controller.dart
  apps/flutter/lib/states/audio.dart
  apps/flutter/lib/states/playlist.dart
  apps/flutter/lib/states/playqueue.dart
Due: none

playqueue view
  apps/flutter/lib/player_controller/actions.dart
  apps/flutter/lib/player_controller/playlist.dart
  apps/flutter/lib/player_controller/playqueue.dart
  apps/flutter/pubspec.lock
  package-lock.json
  readme.md
Due: prettier --write

playlist view
  apps/flutter/lib/player_controller/playlist.dart
Due: none

fromJSON --> fromJson
  apps/flutter/lib/models/music.dart
  apps/flutter/lib/models/singer.dart
  apps/flutter/lib/server/api/get_musicbill.dart
  apps/flutter/lib/server/api/get_musicbill_list.dart
  apps/flutter/lib/server/api/get_profile.dart
  apps/flutter/lib/server/base/get_captcha.dart
  apps/flutter/lib/server/base/get_metadata.dart
  apps/flutter/lib/server/request.dart
  apps/flutter/lib/states/server.dart
  apps/flutter/lib/user_management/index.dart
Due: none

exports music list
  apps/pwa/src/constants/browser.ts
  apps/pwa/src/pages/player/constants.ts
  apps/pwa/src/pages/player/context.ts
  apps/pwa/src/pages/player/eventemitter.ts
  apps/pwa/src/pages/player/index.tsx
  apps/pwa/src/pages/player/pages/musicbill/operation.tsx
  apps/pwa/src/pages/player/use_exports.ts
  apps/pwa/src/pages/player/utils.ts
  apps/pwa/src/platform/with_login.tsx
  apps/pwa/tsconfig.json
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

download floating
  apps/pwa/src/constants/index.ts
  apps/pwa/src/pages/player/constants.ts
  apps/pwa/src/pages/player/context.ts
  apps/pwa/src/pages/player/download/constants.ts
  apps/pwa/src/pages/player/download/floating/constants.ts
  apps/pwa/src/pages/player/download/floating/index.tsx
  apps/pwa/src/pages/player/download/floating/use_position.ts
  apps/pwa/src/pages/player/download/index.tsx
  apps/pwa/src/pages/player/download/use_download.ts
  apps/pwa/src/pages/player/index.tsx
  apps/pwa/src/pages/player/stop_timer/index.tsx
  apps/pwa/src/storage.ts
Due: eslint --fix, prettier --write

download music list
  apps/pwa/src/constants/browser.ts
  apps/pwa/src/i18n/en.ts
  apps/pwa/src/i18n/zh_hans.ts
  apps/pwa/src/pages/player/components/music_base.tsx
  apps/pwa/src/pages/player/download/drawer/index.tsx
  apps/pwa/src/pages/player/download/drawer/music_list.tsx
  apps/pwa/src/pages/player/download/drawer/toolbar.tsx
  apps/pwa/src/pages/player/download/floating/index.tsx
  apps/pwa/src/pages/player/download/index.tsx
  apps/pwa/src/pages/player/download/use_download.ts
  apps/pwa/src/pages/player/eventemitter.ts
  apps/pwa/src/pages/player/music_drawer/index.tsx
  apps/pwa/src/pages/player/music_drawer/toolbar.tsx
  apps/pwa/src/pages/player/pages/musicbill/operation.tsx
  apps/pwa/src/pages/player/utils.ts
  shared/utils/format_music_filename.ts
Due: eslint --fix, prettier --write

downloading music page
  apps/pwa/src/components/empty.tsx
  apps/pwa/src/components/menu_item.tsx
  apps/pwa/src/constants/route.ts
  apps/pwa/src/i18n/en.ts
  apps/pwa/src/i18n/zh_hans.ts
  apps/pwa/src/pages/player/constants.ts
  apps/pwa/src/pages/player/context.ts
  apps/pwa/src/pages/player/download/constants.ts
  apps/pwa/src/pages/player/download/drawer/index.tsx
  apps/pwa/src/pages/player/download/drawer/toolbar.tsx
  apps/pwa/src/pages/player/download/floating/constants.ts
  apps/pwa/src/pages/player/download/floating/index.tsx
  apps/pwa/src/pages/player/download/floating/use_position.ts
  apps/pwa/src/pages/player/download/index.tsx
  apps/pwa/src/pages/player/eventemitter.ts
  apps/pwa/src/pages/player/header/use_title.ts
  apps/pwa/src/pages/player/index.tsx
  apps/pwa/src/pages/player/pages/downloading_music/constants.ts
  apps/pwa/src/pages/player/pages/downloading_music/index.tsx
  apps/pwa/src/pages/player/pages/downloading_music/music_list/index.tsx
  apps/pwa/src/pages/player/pages/downloading_music/toolbar/index.tsx
  apps/pwa/src/pages/player/route.tsx
  apps/pwa/src/pages/player/sidebar/download_tag.tsx
  apps/pwa/src/pages/player/sidebar/menu.tsx
  apps/pwa/src/pages/player/use_download.ts
Due: eslint --fix, prettier --write

improve playlist
  apps/pwa/src/pages/player/playlist_playqueue_drawer/playlist/toolbar.tsx
Due: eslint --fix, prettier --write

downloading music list toolbar
  apps/pwa/src/components/icon_button.tsx
  apps/pwa/src/pages/player/eventemitter.ts
  apps/pwa/src/pages/player/pages/downloading_music/music_list/index.tsx
  apps/pwa/src/pages/player/pages/downloading_music/toolbar/index.tsx
  apps/pwa/src/pages/player/use_download.ts
Due: eslint --fix, prettier --write

improve download
  apps/pwa/src/pages/player/utils.ts
Due: eslint --fix, prettier --write
