Repository mebtte/cicada: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix(pwa): keep notice close icon visible
  apps/pwa/src/utils/notice/notice_item.tsx
  apps/pwa/test/notice_style.test.ts
Due: eslint --fix, prettier --write

update docs
  docs/development/index.md
Due: prettier --write

fix(pwa): prevent radio next queue overflow
  apps/pwa/src/pages/radio/radio_queue_utils.ts
  apps/pwa/src/pages/radio/use_radio_queue.ts
  apps/pwa/test/radio_queue_utils.test.ts
Due: eslint --fix, prettier --write

fix(pwa): keep media keys active while loading
  apps/pwa/src/pages/player/use_media_session.ts
  apps/pwa/src/pages/radio/use_radio_media_session.ts
  apps/pwa/src/utils/audio_playback_intent.ts
  apps/pwa/src/utils/custom_audio.ts
  apps/pwa/test/audio_playback_intent.test.ts
Due: eslint --fix, prettier --write

update readme
  readme.md
Due: prettier --write

fix(pwa): show create artist errors in dialog
  apps/pwa/src/pages/admin/open_create_artist_dialog.ts
  apps/pwa/test/create_artist_dialog.test.ts
Due: eslint --fix, prettier --write

fix(pwa): prevent stale iOS media metadata on next
  apps/pwa/src/pages/player/use_media_session.ts
  apps/pwa/src/pages/radio/use_radio_media_session.ts
  apps/pwa/test/media_session_order.test.ts
Due: eslint --fix, prettier --write

fix(pwa): hide missing drawer artwork
  apps/pwa/src/features/player/drawers/artist_drawer/content.tsx
  apps/pwa/src/features/player/drawers/artist_drawer/info.tsx
  apps/pwa/src/features/player/drawers/music_drawer/content.tsx
Due: eslint --fix, prettier --write

fix pwa admin role update
  apps/cli/internal/api/handler/user_test.go
  apps/cli/internal/apidoc/apidoc_test.go
  apps/cli/internal/apidoc/openapi.go
  apps/pwa/src/pages/admin/components/user_edit/content.tsx
  apps/pwa/src/pages/player/pages/user_manage/user_edit_drawer/user_edit.tsx
  apps/pwa/src/server/api/admin_update_user_admin.ts
  apps/pwa/test/admin_role_captcha.test.ts
Due: eslint --fix, prettier --write

fix(pwa): improve offline cache loading and scrolling
  apps/pwa/src/pages/player/pages/offline_cache/index.tsx
  apps/pwa/test/offline_cache_page.test.ts
Due: eslint --fix, prettier --write

fix(cli): support cross-filesystem upload finalization
  apps/cli/internal/musicasset/cross_device_unix.go
  apps/cli/internal/musicasset/cross_device_windows.go
  apps/cli/internal/musicasset/partial_upload.go
  apps/cli/internal/musicasset/partial_upload_test.go
  apps/cli/internal/musicasset/upload_transfer.go
  apps/cli/internal/musicasset/upload_transfer_test.go
Due: none

fix(cli): make filesystem migration recovery safe and retryable
  apps/cli/internal/store/migration/journal.go
  apps/cli/internal/store/migration/journal_path.go
  apps/cli/internal/store/migration/journal_replay.go
  apps/cli/internal/store/migration/journal_test.go
  apps/cli/internal/store/migration/recover.go
  apps/cli/internal/store/migration/recover_test.go
Due: none

feat(cli): track scratch migrations alongside data versions
  apps/cli/internal/store/migration/migration.go
  apps/cli/internal/store/migration/scratch.go
  apps/cli/internal/store/migration/scratch_recover.go
  apps/cli/internal/store/migration/scratch_test.go
  docs/development/index.md
Due: prettier --write

feat(cli): add configurable scratch directory and migrate legacy layout
  apps/cli/cmd/start.go
  apps/cli/internal/api/handler/asset_test.go
  apps/cli/internal/api/handler/upload.go
  apps/cli/internal/api/handler/upload_scratch_test.go
  apps/cli/internal/api/middleware/access_log_test.go
  apps/cli/internal/config/config.go
  apps/cli/internal/config/paths.go
  apps/cli/internal/config/scratch.go
  apps/cli/internal/config/scratch_test.go
  apps/cli/internal/musictranscode/musictranscode_test.go
  apps/cli/internal/scheduler/scheduler.go
  apps/cli/internal/scheduler/scheduler_test.go
  apps/cli/internal/store/migration/m_123_scratch.go
  apps/cli/internal/store/migration/m_123_scratch_test.go
  apps/cli/internal/store/schema.go
  apps/cli/internal/store/schema_test.go
  apps/cli/internal/store/scratch.go
  apps/cli/readme.md
  docs/docker_deployment/index.md
Due: prettier --write

chore(cli): pass full Cicada commands through Air
  apps/cli/.air.toml
  apps/cli/readme.md
Due: prettier --write

feat: track music cache access with independent files
  apps/cli/internal/api/handler/music_transcode.go
  apps/cli/internal/api/handler/music_transcode_test.go
  apps/cli/internal/musictranscode/cache_access.go
  apps/cli/internal/musictranscode/cache_access_test.go
  apps/cli/internal/musictranscode/cache_cleanup.go
  apps/cli/internal/musictranscode/cache_cleanup_test.go
  apps/cli/internal/musictranscode/cache_lifecycle.go
  apps/cli/internal/musictranscode/cache_lifecycle_test.go
  apps/cli/internal/musictranscode/cache_storage.go
  apps/cli/internal/musictranscode/musictranscode.go
  apps/cli/internal/musictranscode/profile.go
  apps/cli/internal/store/migration/m_124_music_cache_access.go
  apps/cli/internal/store/migration/m_124_music_cache_access_test.go
  apps/cli/internal/store/schema_test.go
Due: none

feat: add eager and lazy music transcoding modes
  apps/cli/cmd/start.go
  apps/cli/cmd/start_music_transcode_test.go
  apps/cli/internal/config/config.go
  apps/cli/internal/config/music_transcode.go
  apps/cli/internal/config/music_transcode_test.go
  apps/cli/internal/scheduler/daily_jobs.go
  apps/cli/internal/scheduler/daily_jobs_test.go
  apps/cli/internal/scheduler/music_cache.go
  apps/cli/internal/scheduler/music_cache_test.go
  apps/cli/internal/scheduler/scheduler.go
Due: none

docs: explain music transcoding modes and cache migration
  apps/cli/readme.md
  docs/docker_deployment/index.md
Due: prettier --write

chore: remove music cache retention startup output
  apps/cli/cmd/start.go
Due: none

fix: validate scratch path is a directory
  apps/cli/internal/config/scratch.go
  apps/cli/internal/config/scratch_test.go
Due: none

feat: manage embedded tools in scratch bin
  apps/cli/cmd/start.go
  apps/cli/internal/config/paths.go
  apps/cli/internal/config/scratch.go
  apps/cli/internal/config/scratch_test.go
  apps/cli/internal/embeddedtools/prepare.go
  apps/cli/internal/embeddedtools/prepare_test.go
  apps/cli/internal/embeddedtools/write.go
  apps/cli/internal/ffmpeg/ffmpeg.go
  apps/cli/internal/ffmpeg/ffmpeg_test.go
  apps/cli/internal/store/schema_test.go
  apps/cli/internal/store/scratch.go
  apps/cli/readme.md
  docs/development/index.md
  docs/docker_deployment/index.md
Due: prettier --write

feat: log ffmpeg calls with daily rotation and retention
  apps/cli/internal/config/paths.go
  apps/cli/internal/config/scratch_test.go
  apps/cli/internal/ffmpeg/audio.go
  apps/cli/internal/ffmpeg/log.go
  apps/cli/internal/ffmpeg/log_test.go
  apps/cli/internal/ffmpeg/run.go
  apps/cli/internal/ffmpeg/run_test.go
  apps/cli/internal/scheduler/daily_jobs.go
  apps/cli/internal/scheduler/daily_jobs_test.go
  apps/cli/internal/scheduler/ffmpeg_log.go
  apps/cli/internal/scheduler/ffmpeg_log_test.go
  apps/cli/internal/store/schema_test.go
  apps/cli/internal/store/scratch.go
  apps/cli/readme.md
  docs/docker_deployment/index.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{html,css,js,jsx,ts,tsx,json,md}
