Repository mebtte/cicada: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix"],
  "*.{html,css,js,jsx,ts,tsx,json,md}": ["prettier --write"]
}

improve i18n
  apps/pwa/src/pages/player/pages/my_music/toolbar/filter.tsx
  apps/pwa/src/pages/player/use_audio/index.ts
Due: eslint --fix, prettier --write

add custom audio
  apps/pwa/src/i18n/en_us.ts
  apps/pwa/src/i18n/zh_hans.ts
  apps/pwa/src/pages/player/use_audio/index.ts
  apps/pwa/src/pages/player/use_audio/use_action.ts
  apps/pwa/src/pages/player/use_audio/use_cache.ts
  apps/pwa/src/pages/player/use_audio/use_play_record.ts
  apps/pwa/src/pages/player/use_audio/use_volume.ts
  apps/pwa/src/pages/player/use_playqueue.ts
  apps/pwa/src/utils/custom_audio.ts
Due: eslint --fix, prettier --write

add debug
  apps/pwa/src/constants/debug_setting.ts
  apps/pwa/src/debug/index.tsx
  apps/pwa/src/global_states/debug_setting.ts
  apps/pwa/src/index.html
  apps/pwa/src/index.tsx
  apps/pwa/src/pages/player/use_audio/index.ts
  apps/pwa/src/pages/player/use_audio/on_error.tsx
  apps/pwa/src/storage.ts
  apps/pwa/src/updater.tsx
  apps/pwa/src/utils/custom_audio.ts
Due: eslint --fix, prettier --write

replace vh with dvb
  apps/pwa/src/pages/player/music_drawer/music_drawer.tsx
  apps/pwa/src/pages/player/singer_drawer/singer_drawer.tsx
  apps/pwa/src/pages/player/singer_modify_record_drawer/content.tsx
  apps/pwa/src/pages/player/user_drawer/music_list.tsx
  apps/pwa/src/pages/player/user_drawer/musicbill_list.tsx
Due: eslint --fix, prettier --write

tsconfig improvement
  apps/cli/tsconfig.json
  apps/pwa/tsconfig.json
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --write

i18n improvement
  apps/pwa/src/i18n/en_us.ts
  apps/pwa/src/i18n/zh_hans.ts
  apps/pwa/src/server/index.ts
Due: eslint --fix, prettier --write

upgrade to node 18
  .github/workflows/build_and_release.yaml
  .nvmrc
  build.sh
  docs/build/index.md
  package-lock.json
  package.json
Due: prettier --write

rebuild package-lock
  package-lock.json
Due: prettier --write

remove debug
  apps/pwa/src/constants/debug_setting.ts
  apps/pwa/src/debug/index.tsx
  apps/pwa/src/global_states/debug_setting.ts
  apps/pwa/src/index.tsx
  apps/pwa/src/pages/player/use_audio/index.ts
  apps/pwa/src/pages/player/use_audio/on_error.tsx
  apps/pwa/src/pages/player/use_audio_current_millisecond.ts
  apps/pwa/src/storage.ts
Due: eslint --fix, prettier --write

remove requestIdleCallback
  apps/pwa/src/updater.tsx
Due: eslint --fix, prettier --write

improve getResizedImage
  apps/pwa/src/pages/player/musicbill_music_drawer/musicbill.tsx
  apps/pwa/src/pages/player/pages/exploration/index.tsx
  apps/pwa/src/pages/player/pages/public_musicbill_collection/collection_list/index.tsx
  apps/pwa/src/pages/player/pages/search/public_musicbill/index.tsx
  apps/pwa/src/pages/player/pages/search/singer/index.tsx
  apps/pwa/src/pages/player/singer_modify_record_drawer/content.tsx
Due: eslint --fix, prettier --write

fix error report when creating music
  apps/pwa/src/components/select/select.tsx
  apps/pwa/src/constants/music.ts
  apps/pwa/src/i18n/en_us.ts
  apps/pwa/src/i18n/zh_hans.ts
  apps/pwa/src/pages/player/pages/my_music/create_music_dialog/index.tsx
  apps/pwa/src/utils/dialog/textarea_list.tsx
  shared/constants/music.ts
Due: eslint --fix, prettier --write

audio buffered percent
  apps/pwa/src/components/slider.tsx
  apps/pwa/src/global_style.ts
  apps/pwa/src/pages/player/context.ts
  apps/pwa/src/pages/player/controller/controller.tsx
  apps/pwa/src/pages/player/controller/progress.tsx
  apps/pwa/src/pages/player/controller/progress_bar.tsx
  apps/pwa/src/pages/player/index.tsx
  apps/pwa/src/pages/player/lyric_panel/controller/index.tsx
  apps/pwa/src/pages/player/lyric_panel/controller/progress_bar.tsx
  apps/pwa/src/pages/player/lyric_panel/lyric_panel.tsx
Due: eslint --fix, prettier --write

improve slider
  apps/pwa/src/components/slider.tsx
Due: eslint --fix, prettier --write

improve audio buffer
  apps/pwa/src/pages/player/use_audio/index.ts
Due: eslint --fix, prettier --write

remove unused judgment of audio buffer
  apps/pwa/src/pages/player/use_audio/index.ts
Due: eslint --fix, prettier --write

improve touch-action
  apps/pwa/src/components/menu_item.tsx
  apps/pwa/src/pages/player/sidebar/musicbill_list/musicbill.tsx
Due: eslint --fix, prettier --write

improve progress bar style
  apps/pwa/src/pages/player/controller/progress_bar.tsx
  apps/pwa/src/pages/player/lyric_panel/controller/progress_bar.tsx
Due: eslint --fix, prettier --write

improve image gain
  apps/cli/src/commands/start_server/asset_app/controllers/get_image.ts
  apps/pwa/src/pages/player/musicbill_music_drawer/musicbill.tsx
  apps/pwa/src/pages/player/pages/exploration/index.tsx
  apps/pwa/src/pages/player/pages/public_musicbill_collection/collection_list/index.tsx
  apps/pwa/src/pages/player/pages/search/public_musicbill/index.tsx
  apps/pwa/src/pages/player/pages/search/singer/index.tsx
  apps/pwa/src/pages/player/singer_modify_record_drawer/content.tsx
Due: eslint --fix, prettier --write

refactor docker
  Dockerfile
  apps/cli/src/commands/start_server/index.ts
  apps/cli/src/index.ts
Due: eslint --fix, prettier --write

update readme
  .github/workflows/docker_build_and_push.yaml
  Dockerfile
  docker_build_and_push.sh
  docs/configuration/index.md
  readme.md
Due: prettier --write

improve docker
  .github/workflows/docker_build_and_push.yaml
  readme.md
Due: prettier --write

update readme
  readme.md
Due: prettier --write

add v2 action
  .github/workflows/v2_docker_build_and_push.yaml
  readme.md
Due: prettier --write

improve dockerfile
  Dockerfile
Due: none

improve dockerfile
  .github/workflows/v2_docker_build_and_push.yaml
  Dockerfile
Due: none

refactor initialization
  .eslintignore
  .gitignore
  apps/cli/dev_server.ts
  apps/cli/package.json
  apps/cli/src/commands/start_server/index.ts
  apps/cli/src/commands/start_server/initialize.ts
  apps/cli/src/commands/start_server/schedule/index.ts
  apps/cli/src/config.ts
  apps/cli/src/constants/db_definition.ts
  package.json
  readme.md
  shared/constants/regexp.ts
Due: eslint --fix, prettier --write

add user.password
  apps/cli/dev_server.ts
  apps/cli/src/commands/data_upgrade.ts
  apps/cli/src/commands/start_server/api_app/controllers/add_musicbill_shared_user.ts
  apps/cli/src/commands/start_server/api_app/controllers/admin_create_user.ts
  apps/cli/src/commands/start_server/api_app/controllers/admin_get_user_list.ts
  apps/cli/src/commands/start_server/api_app/controllers/admin_update_user.ts
  apps/cli/src/commands/start_server/api_app/controllers/get_profile.ts
  apps/cli/src/commands/start_server/base_app/controllers/get_login_code.ts
  apps/cli/src/commands/start_server/base_app/controllers/login.ts
  apps/cli/src/commands/start_server/base_app/router.ts
  apps/cli/src/commands/start_server/constants/exception.ts
  apps/cli/src/commands/start_server/index.ts
  apps/cli/src/commands/start_server/initialize.ts
  apps/cli/src/config.ts
  apps/cli/src/constants/db_definition.ts
  apps/cli/src/db/update_user.ts
  apps/cli/src/db/user.ts
  apps/cli/src/i18n/en_us.ts
  apps/cli/src/i18n/zh_hans.ts
  apps/cli/src/index.ts
  apps/cli/src/platform/email.ts
  apps/cli/src/platform/login_code.ts
  package.json
  shared/constants/exception.ts
  shared/constants/user.ts
  shared/server/api/admin_get_user_list.ts
  shared/server/api/get_profile.ts
Due: eslint --fix, prettier --write

refactor login part 1
  apps/cli/dev_server.ts
  apps/cli/src/commands/start_server/api_app/controllers/admin_delete_user.ts
  apps/cli/src/commands/start_server/constants/exception.ts
  apps/cli/src/commands/start_server/initialize.ts
  apps/cli/src/commands/start_server/schedule/remove_outdated_db.ts
  apps/cli/src/constants/db_definition.ts
  apps/cli/src/constants/index.ts
  apps/cli/src/i18n/en_us.ts
  apps/cli/src/i18n/zh_hans.ts
  apps/pwa/src/constants/user.ts
  apps/pwa/src/i18n/en_us.ts
  apps/pwa/src/i18n/zh_hans.ts
  apps/pwa/src/pages/player/musicbill_shared_user_drawer/musicbill_shared_user_drawer.tsx
  apps/pwa/src/pages/player/pages/user_manage/create_user_dialog.tsx
  apps/pwa/src/pages/player/pages/user_manage/user_edit_drawer/user_edit.tsx
  apps/pwa/src/pages/player/pages/user_manage/user_list/index.tsx
  apps/pwa/src/pages/player/profile_edit_popup.tsx
  apps/pwa/src/server/api/add_musicbill_shared_user.ts
  apps/pwa/src/server/api/admin_create_user.ts
  apps/pwa/src/server/api/admin_update_user.ts
  apps/pwa/src/server/base/get_login_code.ts
  apps/pwa/src/server/base/login.ts
  apps/pwa/src/service_worker.ts
  apps/pwa/src/storage.ts
  package-lock.json
  shared/constants/exception.ts
  shared/constants/index.ts
  shared/constants/user.ts
Due: eslint --fix, prettier --write

refactor login part 2
  apps/cli/src/commands/start_server/base_app/controllers/get_metadata.ts
  apps/cli/src/config.ts
  apps/cli/src/platform/server_id.ts
  apps/pwa/src/global_states/server.ts
  apps/pwa/src/global_states/setting.ts
  apps/pwa/src/pages/login/first_step/index.tsx
  apps/pwa/src/pages/login/first_step/setting_dialog.tsx
  apps/pwa/src/pages/login/index.tsx
  apps/pwa/src/server/base/get_metadata.ts
  package-lock.json
  package.json
  shared/server/base/get_metadata.ts
Due: eslint --fix, prettier --write

input removes label
  apps/pwa/src/components/input.tsx
  apps/pwa/src/components/pagination/custom_page.tsx
  apps/pwa/src/i18n/en_us.ts
  apps/pwa/src/i18n/zh_hans.ts
  apps/pwa/src/pages/login/first_step/index.tsx
  apps/pwa/src/pages/login/first_step/server_list.tsx
  apps/pwa/src/pages/login/index.tsx
  apps/pwa/src/pages/login/paper.ts
  apps/pwa/src/pages/login/second_step.tsx
  apps/pwa/src/pages/player/header/search.tsx
  apps/pwa/src/pages/player/pages/music_play_record/toolbar/filter.tsx
  apps/pwa/src/pages/player/pages/musicbill/filter.tsx
  apps/pwa/src/pages/player/pages/my_music/create_music_dialog/index.tsx
  apps/pwa/src/pages/player/pages/my_music/toolbar/filter.tsx
  apps/pwa/src/pages/player/pages/public_musicbill_collection/toolbar/filter.tsx
  apps/pwa/src/pages/player/pages/search/input.tsx
  apps/pwa/src/pages/player/pages/user_manage/create_user_dialog.tsx
  apps/pwa/src/pages/player/pages/user_manage/toolbar/filter.tsx
  apps/pwa/src/pages/player/pages/user_manage/user_edit_drawer/user_edit.tsx
  apps/pwa/src/pages/player/playlist_playqueue_drawer/playlist/toolbar.tsx
  apps/pwa/src/utils/dialog/captcha/index.tsx
  apps/pwa/src/utils/dialog/input.tsx
  apps/pwa/src/utils/dialog/input_list.tsx
Due: eslint --fix, prettier --write

textarea removes label
  apps/pwa/src/components/textarea.tsx
  apps/pwa/src/pages/player/pages/user_manage/user_edit_drawer/user_edit.tsx
  apps/pwa/src/utils/dialog/textarea_list.tsx
Due: eslint --fix, prettier --write

multiple-select removes label
  apps/pwa/src/components/multiple_select/multiple_select.tsx
  apps/pwa/src/pages/player/pages/my_music/create_music_dialog/index.tsx
  apps/pwa/src/utils/dialog/multiple_select.tsx
Due: eslint --fix, prettier --write

refactor login api
  apps/cli/src/commands/start_server/api_app/controllers/add_musicbill_shared_user.ts
  apps/cli/src/commands/start_server/api_app/controllers/admin_create_user.ts
  apps/cli/src/commands/start_server/base_app/controllers/login.ts
  apps/cli/src/commands/start_server/constants/exception.ts
  apps/cli/src/db/get_user_by_username.ts
  apps/cli/src/db/user.ts
  apps/cli/src/i18n/en_us.ts
  apps/cli/src/i18n/zh_hans.ts
  apps/pwa/src/components/select/index.ts
  apps/pwa/src/components/select/select.tsx
  apps/pwa/src/components/select/style.scss
  apps/pwa/src/pages/login/first_step/server_list.tsx
  apps/pwa/src/pages/login/second_step/index.tsx
  apps/pwa/src/server/base/login.ts
  apps/pwa/src/server/index.ts
  shared/constants/exception.ts
  shared/constants/user.ts
  shared/server/base/login.ts
Due: eslint --fix, prettier --write

switch user
  apps/pwa/src/components/page_container.ts
  apps/pwa/src/i18n/en_us.ts
  apps/pwa/src/i18n/zh_hans.ts
  apps/pwa/src/pages/login/second_step/index.tsx
  apps/pwa/src/pages/login/second_step/user_list.tsx
  apps/pwa/src/pages/player/pages/setting/index.tsx
  apps/pwa/src/pages/player/pages/setting/logout.tsx
  apps/pwa/src/pages/player/pages/setting/user_manage.tsx
  apps/pwa/src/pages/player/pages/setting/user_switch.tsx
  apps/pwa/src/pages/player/pages/setting/utils.ts
  apps/pwa/src/server/api/get_profile.ts
Due: eslint --fix, prettier --write

fix music play record upload
  apps/cli/src/commands/start_server/api_app/controllers/admin_update_user.ts
  apps/cli/src/db/update_user.ts
  apps/pwa/src/pages/player/pages/setting/logout.tsx
  apps/pwa/src/server/api/admin_update_user.ts
  shared/constants/user.ts
Due: eslint --fix, prettier --write

refactor admin create user
  apps/cli/src/commands/start_server/api_app/controllers/admin_create_user.ts
  apps/cli/src/commands/start_server/api_app/controllers/admin_update_user.ts
  apps/pwa/src/i18n/en_us.ts
  apps/pwa/src/i18n/zh_hans.ts
  apps/pwa/src/pages/player/musicbill_shared_user_drawer/musicbill_shared_user_drawer.tsx
  apps/pwa/src/pages/player/pages/user_manage/create_user_dialog.tsx
  shared/constants/user.ts
Due: eslint --fix, prettier --write

reload user intervally
  apps/pwa/src/global_states/server.ts
  apps/pwa/src/i18n/en_us.ts
  apps/pwa/src/i18n/zh_hans.ts
  apps/pwa/src/pages/player/index.tsx
  apps/pwa/src/pages/player/musicbilll_order_drawer/musicbill_order_drawer.tsx
  apps/pwa/src/pages/player/network_status.tsx
  apps/pwa/src/pages/player/profile_edit_popup.tsx
  apps/pwa/src/pages/player/use_profile_update.ts
Due: eslint --fix, prettier --write

improve profile popup
  .vscode/settings.json
  apps/pwa/src/pages/player/profile_edit_popup.tsx
Due: eslint --fix, prettier --write
