Repository mebtte/cicada: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix"],
  "*.{html,css,js,jsx,ts,tsx,json,md}": ["prettier --write"]
}

improve asset upload
  apps/cli/internal/api/handler/upload_chunked.go
  apps/cli/internal/api/handler/upload_chunked_test.go
  apps/cli/internal/apidoc/openapi.go
  apps/cli/internal/server/server.go
  apps/cli/internal/server/server_test.go
  apps/pwa/src/constants/api.ts
  apps/pwa/src/global_states/music_import.ts
  apps/pwa/src/pages/admin/components/artist_edit/content.tsx
  apps/pwa/src/pages/admin/music_management/import/upload_manager.ts
  apps/pwa/src/pages/admin/music_management/music_edit_drawer.tsx
  apps/pwa/src/pages/player/pages/musicbill/edit_menu.tsx
  apps/pwa/src/pages/player/pages/user/index.tsx
  apps/pwa/src/server/asset/upload_asset.ts
  apps/pwa/src/server/asset/upload_asset_chunked.ts
  apps/pwa/src/service_worker.ts
Due: eslint --fix, prettier --write

improve pwa
  apps/cli/internal/apidoc/apidoc_test.go
  apps/cli/internal/apidoc/openapi.go
  apps/cli/internal/apidoc/page.go
  apps/cli/readme.md
  apps/pwa/src/service_worker.ts
Due: eslint --fix, prettier --write

apple mvp
  apps/apple/Cicada.xcodeproj/project.pbxproj
  apps/apple/Cicada/Features/Login/LoginStore.swift
  apps/apple/Cicada/Features/Login/LoginView.swift
  apps/apple/Cicada/Features/Player/PlayerStore.swift
  apps/apple/Cicada/Features/Player/PlayerView.swift
  apps/apple/Cicada/Features/ServerSetup/ServerSetupStore.swift
  apps/apple/Cicada/Features/ServerSetup/ServerSetupView.swift
  apps/apple/Cicada/Info.plist
  apps/apple/Cicada/Models/APIModels.swift
  apps/apple/Cicada/Models/ServerRecord.swift
  apps/apple/Cicada/Services/AudioPlayerController.swift
  apps/apple/Cicada/Services/CicadaAPIClient.swift
  apps/apple/Cicada/Services/ServerMetadataClient.swift
  apps/apple/Cicada/Support/ArtworkView.swift
  apps/apple/Cicada/Support/CaptchaImageView.swift
  apps/apple/Cicada/Views/ContentView.swift
  apps/apple/project.yml
Due: none

apple mvp 2
  apps/apple/Cicada/Features/Login/LoginView.swift
  apps/apple/Cicada/Features/Player/PlayerStore.swift
  apps/apple/Cicada/Features/Player/PlayerView.swift
  apps/apple/Cicada/Features/ServerSetup/ServerSetupStore.swift
  apps/apple/Cicada/Info.plist
  apps/apple/Cicada/Models/APIModels.swift
  apps/apple/Cicada/Models/ServerRecord.swift
  apps/apple/Cicada/Services/AudioPlayerController.swift
  apps/apple/Cicada/Services/CicadaAPIClient.swift
  apps/apple/project.yml
Due: none

normalize version
  Makefile
  apps/apple/Cicada.xcodeproj/project.pbxproj
  apps/apple/Cicada/Features/ServerSetup/ServerSetupStore.swift
  apps/apple/Cicada/Info.plist
  apps/apple/Cicada/Services/CicadaAPIClient.swift
  apps/apple/Cicada/Services/ServerMetadataClient.swift
  apps/apple/Cicada/Support/AppVersion.swift
  apps/apple/project.yml
  apps/cli/internal/version/version.go
  apps/cli/internal/version/version_test.go
  apps/pwa/src/utils/version.ts
  apps/pwa/test/utils.test.ts
  docs/development/index.md
  scripts/build_version.mjs
Due: eslint --fix, prettier --write

improve server addition on pwa
  apps/pwa/src/global_states/server.ts
  apps/pwa/src/i18n/en.ts
  apps/pwa/src/i18n/zh_hans.ts
  apps/pwa/src/pages/login/first_step/index.tsx
  apps/pwa/src/pages/login/first_step/server_list.tsx
  apps/pwa/src/utils/version.ts
  apps/pwa/test/utils.test.ts
Due: eslint --fix, prettier --write

apple mvp 3
  apps/apple/Cicada/Features/Player/PlayerStore.swift
  apps/apple/Cicada/Features/Player/PlayerView.swift
  apps/apple/Cicada/Models/APIModels.swift
  apps/apple/Cicada/Services/CicadaAPIClient.swift
Due: none

apple mvp 4
  apps/apple/Cicada/Features/Player/PlayerStore.swift
  apps/apple/Cicada/Features/Player/PlayerView.swift
  apps/apple/Cicada/Models/APIModels.swift
  apps/apple/Cicada/Services/CicadaAPIClient.swift
Due: none

improve music import
  apps/pwa/src/global_states/music_import.ts
  apps/pwa/src/pages/admin/components/create_artist_label.tsx
Due: eslint --fix, prettier --write

improve drawer
  apps/pwa/package-lock.json
  apps/pwa/src/components/app_drawer/app_drawer.stories.tsx
  apps/pwa/src/components/app_drawer/index.tsx
  apps/pwa/src/components/drawer/index.tsx
  apps/pwa/src/features/player/drawers/musicbill_music_drawer/top.tsx
  apps/pwa/src/pages/admin/components/user_edit/drawer.tsx
  apps/pwa/src/pages/admin/music_management/import/sidebar.tsx
  apps/pwa/src/pages/admin/music_management/music_edit_drawer.tsx
  apps/pwa/src/pages/player/authorized_device_drawer/index.tsx
  apps/pwa/src/pages/player/musicbill_followed_artist_drawer/musicbill_followed_artist_drawer.tsx
  apps/pwa/src/pages/player/musicbill_music_drawer/top.tsx
  apps/pwa/src/pages/player/musicbill_shared_user_drawer/musicbill_shared_user_drawer.tsx
  apps/pwa/src/pages/player/pages/musicbill/edit_menu.tsx
  apps/pwa/src/pages/player/pages/shared_musicbill_invitation/index.tsx
  apps/pwa/src/pages/player/pages/user_manage/user_edit_drawer/index.tsx
  apps/pwa/src/pages/player/playlist_playqueue_drawer/playlist/index.tsx
  apps/pwa/src/pages/player/playlist_playqueue_drawer/playqueue.tsx
  apps/pwa/src/pages/player/public_musicbill_collection_drawer/index.tsx
  apps/pwa/src/pages/player/sort_musicbilll_drawer/sort_musicbill_drawer.tsx
Due: eslint --fix, prettier --write

apple mvp 5
  apps/apple/Cicada/Features/Player/PlayerStore.swift
  apps/apple/Cicada/Features/Player/PlayerView.swift
  apps/apple/Cicada/Features/ServerSetup/ServerSetupStore.swift
  apps/apple/Cicada/Models/APIModels.swift
  apps/apple/Cicada/Services/CicadaAPIClient.swift
Due: none

improve music export
  apps/pwa/src/features/player/constants.ts
  apps/pwa/src/pages/player/use_export.ts
Due: eslint --fix, prettier --write

fix pwa test
  .github/workflows/pull_request_checks.yaml
Due: none

update readme
  readme.md
Due: prettier --write

fix version comparison
  apps/pwa/src/utils/version.ts
  apps/pwa/test/utils.test.ts
Due: eslint --fix, prettier --write

fix music export
  apps/pwa/src/pages/player/use_export.ts
Due: eslint --fix, prettier --write

pwa remove export
  apps/pwa/src/components/icon/icon.stories.tsx
  apps/pwa/src/components/icon/icons/export.tsx
  apps/pwa/src/components/icon/index.ts
  apps/pwa/src/constants/route.ts
  apps/pwa/src/features/player/constants.ts
  apps/pwa/src/features/player/context.ts
  apps/pwa/src/features/player/download_music.ts
  apps/pwa/src/features/player/drawers/artist_drawer/toolbar.tsx
  apps/pwa/src/features/player/drawers/music_drawer/toolbar.tsx
  apps/pwa/src/features/player/drawers/musicbill_drawer/toolbar.tsx
  apps/pwa/src/features/player/eventemitter.ts
  apps/pwa/src/features/player/export_music_list.tsx
  apps/pwa/src/features/player/utils.ts
  apps/pwa/src/i18n/en.ts
  apps/pwa/src/i18n/zh_hans.ts
  apps/pwa/src/pages/player/artist_drawer/toolbar.tsx
  apps/pwa/src/pages/player/export_music_list.tsx
  apps/pwa/src/pages/player/header/use_title.ts
  apps/pwa/src/pages/player/index.tsx
  apps/pwa/src/pages/player/music_drawer/toolbar.tsx
  apps/pwa/src/pages/player/pages/exporting_music/index.tsx
  apps/pwa/src/pages/player/pages/exporting_music/music_list/index.tsx
  apps/pwa/src/pages/player/pages/musicbill/operation.tsx
  apps/pwa/src/pages/player/route.tsx
  apps/pwa/src/pages/player/sidebar/export_tag.tsx
  apps/pwa/src/pages/player/sidebar/menu.tsx
  apps/pwa/src/pages/player/use_export.ts
  apps/pwa/src/pages/radio/index.tsx
  apps/pwa/src/utils/music_export_asset.ts
Due: eslint --fix, prettier --write

export musicbill
  apps/cli/cmd/export_musicbill.go
  apps/cli/cmd/export_musicbill_test.go
  apps/cli/internal/ffmpeg/audio.go
Due: none

fix export-musicbill
  apps/cli/cmd/export_musicbill.go
  apps/cli/cmd/export_musicbill_test.go
Due: none

improve music export/download
  apps/cli/cmd/export.go
  apps/cli/cmd/export_musicbill.go
  apps/cli/cmd/export_musicbill_test.go
  apps/pwa/src/utils/format_music_filename.ts
  apps/pwa/src/utils/music_filename.ts
  apps/pwa/test/utils.test.ts
Due: eslint --fix, prettier --write

improve music export/download
  apps/pwa/src/utils/format_music_filename.ts
  apps/pwa/src/utils/music_filename.ts
  apps/pwa/test/utils.test.ts
Due: eslint --fix, prettier --write

apple mvp 6
  apps/apple/Cicada.xcodeproj/project.pbxproj
  apps/apple/Cicada/Features/Player/PlayerStore.swift
  apps/apple/Cicada/Features/Player/PlayerView.swift
  apps/apple/Cicada/Features/Settings/SettingsView.swift
  apps/apple/Cicada/Models/APIModels.swift
  apps/apple/Cicada/Services/AudioPlayerController.swift
  apps/apple/Cicada/Services/CicadaAPIClient.swift
  apps/apple/Cicada/Services/ServerMetadataClient.swift
  apps/apple/Cicada/Support/AppSettings.swift
Due: none

improve cache clear
  apps/pwa/src/global_states/server_account_cleanup.ts
  apps/pwa/src/i18n/en.ts
  apps/pwa/src/i18n/zh_hans.ts
Due: eslint --fix, prettier --write

improve offline cache
  apps/apple/Cicada.xcodeproj/project.pbxproj
  apps/apple/Cicada/Features/OfflineCache/OfflineCacheView.swift
  apps/apple/Cicada/Features/Player/PlayerStore.swift
  apps/apple/Cicada/Features/Player/PlayerView.swift
  apps/apple/Cicada/Features/Settings/SettingsView.swift
  apps/apple/Cicada/Services/AudioPlayerController.swift
  apps/apple/Cicada/Services/CicadaAPIClient.swift
  apps/apple/Cicada/Services/OfflineCacheManager.swift
  apps/apple/Cicada/Support/AppSettings.swift
Due: none

improve sw cache
  apps/pwa/vite.config.ts
Due: eslint --fix, prettier --write

sync state
  apps/pwa/src/pages/player/use_audio/index.ts
  apps/pwa/src/pages/player/use_media_session.ts
  apps/pwa/src/pages/radio/use_radio_audio.ts
  apps/pwa/src/pages/radio/use_radio_media_session.ts
  apps/pwa/src/utils/on_visible.ts
Due: eslint --fix, prettier --write

improve setting
  apps/pwa/src/components/button/index.tsx
  apps/pwa/src/pages/player/pages/setting/item.tsx
  apps/pwa/src/pages/player/pages/setting/offline_cache.tsx
  apps/pwa/src/pages/player/pages/setting/user_manage.tsx
Due: eslint --fix, prettier --write

improve tab
  apps/pwa/src/components/tabs.stories.tsx
  apps/pwa/src/components/tabs.tsx
Due: eslint --fix, prettier --write

normalize switch
  apps/pwa/src/components/index.ts
  apps/pwa/src/components/switch/index.tsx
  apps/pwa/src/components/switch/switch.stories.tsx
  apps/pwa/src/pages/admin/components/user_edit/content.tsx
  apps/pwa/src/pages/player/pages/musicbill/edit_menu.tsx
  apps/pwa/src/pages/player/pages/setting/admin_quick_edit.tsx
  apps/pwa/src/pages/player/pages/user_manage/user_edit_drawer/user_edit.tsx
Due: eslint --fix, prettier --write

improve switch styles
  apps/pwa/src/components/switch/index.tsx
Due: eslint --fix, prettier --write

fix artist drawer
  apps/pwa/src/features/player/components/music.tsx
Due: eslint --fix, prettier --write

remove heat reduction
  apps/cli/internal/scheduler/scheduler.go
  apps/cli/internal/scheduler/scheduler_test.go
Due: none

hover not on mobile
  apps/pwa/src/components/button/index.tsx
  apps/pwa/src/components/dialog/index.tsx
  apps/pwa/src/components/drawer/index.tsx
  apps/pwa/src/components/image_frame/index.tsx
  apps/pwa/src/components/pagination/index.tsx
  apps/pwa/src/components/slider/index.tsx
  apps/pwa/src/components/tabs.tsx
  apps/pwa/src/style/hover.ts
Due: eslint --fix, prettier --write

remove slider thumb
  apps/pwa/src/components/slider/index.tsx
  apps/pwa/src/components/slider/slider.stories.tsx
  apps/pwa/src/pages/admin/music_management/floating_music_player.tsx
  apps/pwa/src/pages/player/controller/progress_bar.tsx
  apps/pwa/src/pages/player/lyric_panel/controller/progress_bar.tsx
Due: eslint --fix, prettier --write

fix pagination
  apps/pwa/src/components/pagination/index.tsx
Due: eslint --fix, prettier --write

fix artist drawer
  apps/pwa/src/features/music/components/performer/index.tsx
Due: eslint --fix, prettier --write

improve select
  apps/pwa/src/components/select/index.tsx
  apps/pwa/src/components/select/select.stories.tsx
Due: eslint --fix, prettier --write

redesign spinner
  apps/pwa/src/components/button/button.stories.tsx
  apps/pwa/src/components/button/index.tsx
  apps/pwa/src/components/divider/divider.stories.tsx
  apps/pwa/src/components/input/input.stories.tsx
  apps/pwa/src/components/slider/index.tsx
  apps/pwa/src/components/slider/slider.stories.tsx
  apps/pwa/src/components/spinner.stories.tsx
  apps/pwa/src/components/spinner.tsx
  apps/pwa/src/components/tabs.stories.tsx
  apps/pwa/src/components/tag/index.tsx
  apps/pwa/src/components/tag/tag.stories.tsx
  apps/pwa/src/components/tooltip/index.tsx
  apps/pwa/src/components/tooltip/tooltip.stories.tsx
  apps/pwa/src/features/player/drawers/music_drawer/lyric.tsx
  apps/pwa/src/pages/player/music_drawer/lyric.tsx
  apps/pwa/src/style/tokens_style.ts
  docs/ui_designment/index.md
Due: eslint --fix, prettier --write

improve tab styles
  apps/pwa/src/components/tabs.tsx
Due: eslint --fix, prettier --write
