Repository mebtte/cicada: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

update docs
  docs/config/index.md
Due: prettier --write

[add] add dockerfile
  Dockerfile
Due: none

improve data structure
  apps/server/src/config.ts
  apps/server/src/initialize.ts
Due: eslint --fix, prettier --write

improve media session
  apps/pwa/src/pages/player/use_media_session.ts
  apps/pwa/src/pages/player/use_media_session/default_cover_128.jpeg
  apps/pwa/src/pages/player/use_media_session/default_cover_192.jpeg
  apps/pwa/src/pages/player/use_media_session/default_cover_256.jpeg
  apps/pwa/src/pages/player/use_media_session/default_cover_384.jpeg
  apps/pwa/src/pages/player/use_media_session/default_cover_512.jpeg
  apps/pwa/src/pages/player/use_media_session/default_cover_96.jpeg
  apps/pwa/src/pages/player/use_media_session/index.ts
  apps/pwa/src/server/asset.ts
  apps/pwa/src/server/upload_asset.ts
  apps/server/src/asset_app/controllers/resize_music_cover.ts
  apps/server/src/asset_app/index.ts
  apps/server/src/asset_app/router.ts
  apps/server/src/config.ts
  apps/server/src/form_app/constants/index.ts
  apps/server/src/form_app/controllers/upload_asset.ts
  apps/server/src/form_app/index.ts
  apps/server/src/form_app/router.ts
  apps/server/src/initialize.ts
  apps/server/src/schedule/jobs/clean_outdated_file.ts
  apps/server/src/server.ts
  package.json
  shared/constants/exception.ts
  shared/constants/index.ts
Due: eslint --fix, prettier --write

improve resized music cover cache
  apps/server/src/asset_app/controllers/resize_music_cover.ts
Due: eslint --fix, prettier --write

improve resize music cover
  apps/pwa/src/pages/player/use_media_session.ts
  apps/pwa/src/pages/player/use_media_session/default_cover_128.jpeg
  apps/pwa/src/pages/player/use_media_session/default_cover_192.jpeg
  apps/pwa/src/pages/player/use_media_session/default_cover_256.jpeg
  apps/pwa/src/pages/player/use_media_session/default_cover_384.jpeg
  apps/pwa/src/pages/player/use_media_session/default_cover_96.jpeg
  apps/server/src/asset_app/controllers/resize_music_cover.ts
  apps/server/src/constants/koa.ts
  apps/server/src/definition.ts
  apps/server/src/middlewares/catcher.ts
  apps/server/src/middlewares/parasite.ts
  apps/server/src/pwa_app.ts
  apps/server/src/schedule/jobs/clean_outdated_file.ts
  apps/server/webpack.config.js
  design/app_icon.psd
  design/apple_touch_icon_precomposed.psd
  package.json
  runtime/default_cover.jpeg
Due: eslint --fix, prettier --write

improve get login code
  apps/server/src/api_app/controllers/get_login_code.ts
  apps/server/src/middlewares/parasite.ts
Due: eslint --fix, prettier --write

support data version to 1
  apps/pwa/src/components/slider.tsx
  apps/pwa/src/pages/player/edit_dialog/cover.tsx
  apps/server/package.json
  apps/server/src/asset_app/controllers/resize_music_cover.ts
  apps/server/src/index.ts
  apps/server/src/initialize.ts
  package.json
Due: eslint --fix, prettier --write

blob app to form app
  apps/pwa/src/server/upload_asset.ts
  apps/server/src/form_app/constants/index.ts
  apps/server/src/form_app/controllers/upload_asset.ts
  apps/server/src/form_app/index.ts
  apps/server/src/form_app/router.ts
  apps/server/src/server.ts
  shared/constants/index.ts
Due: eslint --fix, prettier --write

improve exploration style
  apps/pwa/src/pages/player/components/singer.tsx
  apps/pwa/src/pages/player/pages/exploration/constants.ts
  apps/pwa/src/pages/player/pages/exploration/index.tsx
  apps/pwa/src/pages/player/pages/exploration/part/card.tsx
  apps/pwa/src/pages/player/pages/exploration/part/cover.tsx
Due: eslint --fix, prettier --write

fix ffmpeg transcode
  apps/server/src/form_app/controllers/upload_asset.ts
Due: eslint --fix, prettier --write

more audio format support
  shared/constants/index.ts
Due: eslint --fix, prettier --write

fix flac mime
  shared/constants/index.ts
Due: eslint --fix, prettier --write

version update docs
  docs/version_update/index.md
  readme.md
Due: prettier --write

add arm64 linux support
  build.sh
Due: none

fix build output name
  build.sh
Due: none

improve get version
  Dockerfile
  apps/server/src/definition.ts
Due: eslint --fix, prettier --write

override data/port from cli
  Dockerfile
  apps/server/dev.ts
  apps/server/package.json
  apps/server/src/config.ts
  apps/server/src/constants/index.ts
  apps/server/src/index.ts
  apps/server/src/server.ts
  package.json
Due: eslint --fix, prettier --write

tmp remove dockerfile
  Dockerfile
Due: none

dockerfile
  .gitignore
  Dockerfile
  Dockerfile.arm64
  build.sh
  docker_build.sh
Due: none

amd64 docker support
  Dockerfile
  Dockerfile.arm64
  apps/server/src/api_app/controllers/get_login_code.ts
  apps/server/src/definition.ts
  apps/server/src/pwa_app.ts
  apps/server/webpack.config.js
  docker_build.sh
  package.json
  readme.md
Due: eslint --fix, prettier --write

update readme
  readme.md
Due: prettier --write

fix clean outdated file
  apps/server/src/schedule/jobs/clean_outdated_file.ts
Due: eslint --fix, prettier --write

fix build:current
  package.json
Due: prettier --write

fix config port unused
  apps/server/src/config.ts
  apps/server/src/constants/index.ts
  apps/server/src/index.ts
Due: eslint --fix, prettier --write

improve docker
  Dockerfile
  Dockerfile.arm64
  readme.md
Due: prettier --write

improve dockerfile
  Dockerfile
  Dockerfile.arm64
  build.sh
  docker_build.sh
Due: none

improve build script
  build.sh
Due: none

arm64 docker support
  Dockerfile
  Dockerfile.arm64
  readme.md
Due: prettier --write

improve arm64 dockerfile
  Dockerfile.arm64
Due: none

remove pages actions
  .github/workflows/pages.yaml
  .gitignore
  build.sh
  package-lock.json
Due: prettier --write

improve dockerfile
  .gitignore
  Dockerfile
  Dockerfile.arm64
  build.sh
  package-lock.json
Due: prettier --write

improve dockerfile
  Dockerfile
  Dockerfile.arm64
Due: none

docker auto build and push
  .github/workflows/build_and_release.yaml
  .github/workflows/docker_build_and_push.yaml
  docker_build_and_push.sh
Due: none

remove arm64 provisionally
  .github/workflows/docker_build_and_push.yaml
  Dockerfile.arm64
  apps/pwa/src/components/multiple_select/multiple_select.tsx
  apps/pwa/src/pages/login/email_panel/captcha_dialog.tsx
  apps/pwa/src/pages/login/logo.tsx
  apps/pwa/src/pages/player/sidebar/index.tsx
  apps/pwa/src/platform/with_login.tsx
  apps/server/src/api_app/controllers/login.ts
  build.sh
  docker_build_and_push.sh
  package.json
Due: eslint --fix, prettier --write

fix dockerfile
  Dockerfile
Due: none

add musicbill navigate shortcut
  apps/pwa/src/global_style.ts
  apps/pwa/src/pages/player/index.tsx
  apps/pwa/src/pages/player/lyric_panel/lyric/lyric.tsx
  apps/pwa/src/pages/player/use_keyboard.ts
Due: eslint --fix, prettier --write

fix exploration error card
  apps/pwa/src/pages/player/pages/exploration/index.tsx
Due: eslint --fix, prettier --write

improve requirement description
  apps/server/src/requirement_check.ts
  readme.md
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{html,css,js,jsx,ts,tsx,json,md}
