Repository mebtte/cicada: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

loading for update
  apps/pwa/src/i18n/en.ts
  apps/pwa/src/i18n/zh_hans.ts
  apps/pwa/src/updater.tsx
Due: eslint --fix, prettier --write

auto next volume
  apps/flutter/ios/Flutter/AppFrameworkInfo.plist
  apps/flutter/ios/Podfile.lock
  apps/flutter/ios/Runner/AppDelegate.swift
  apps/flutter/ios/Runner/Info.plist
  apps/flutter/lib/audio_handler.dart
  apps/flutter/lib/pages/musicbill/index.dart
  apps/flutter/lib/pages/profile/index.dart
  apps/flutter/lib/states/musicbill.dart
  apps/flutter/lib/states/playqueue.dart
  apps/flutter/lib/utils/audio_cache_manager.dart
  apps/flutter/macos/Flutter/GeneratedPluginRegistrant.swift
  apps/flutter/macos/Podfile.lock
  apps/flutter/pubspec.lock
Due: none

fix auto next mistakenly
  apps/flutter/ios/Runner/Info.plist
  apps/flutter/lib/audio_handler.dart
  apps/flutter/lib/player_controller/actions.dart
  apps/flutter/lib/widgets/play_error_dialog.dart
Due: none

add music to musicbill
  apps/flutter/lib/audio_handler.dart
  apps/flutter/lib/constants/exception.dart
  apps/flutter/lib/pages/home/create_musicbill_dialog.dart
  apps/flutter/lib/pages/home/musicbill_card.dart
  apps/flutter/lib/pages/musicbill/add_to_musicbill_sheet.dart
  apps/flutter/lib/pages/musicbill/music_list_item.dart
  apps/flutter/lib/pages/musicbill/music_option_menu.dart
  apps/flutter/lib/pages/musicbill/show_music_option_menu.dart
  apps/flutter/lib/pages/search/music_with_lyric_list_item.dart
  apps/flutter/lib/player_controller/player_controller.dart
  apps/flutter/lib/player_controller/playlist.dart
  apps/flutter/lib/player_controller/playqueue.dart
  apps/flutter/lib/server/api/add_music_to_musicbill.dart
  apps/flutter/lib/server/api/get_musicbill.dart
  apps/flutter/lib/server/api/get_musicbill_list.dart
  apps/flutter/lib/server/api/remove_music_from_musicbill.dart
  apps/flutter/lib/server/request.dart
  apps/flutter/lib/states/musicbill.dart
  apps/flutter/lib/widgets/musicbill_cover.dart
  apps/flutter/lib/widgets/player/index.dart
  apps/flutter/lib/widgets/player/player_controls.dart
  apps/flutter/lib/widgets/player/player_header.dart
Due: none

still playing when inserting music to playqueue
  apps/flutter/lib/audio_handler.dart
  apps/flutter/lib/pages/musicbill/music_option_menu.dart
  apps/flutter/lib/states/playqueue.dart
  apps/flutter/lib/widgets/player/index.dart
Due: none

fix update_fork_from
  apps/cli/src/commands/start_server/api_app/controllers/update_music/update_fork_from.ts
Due: eslint --fix, prettier --write

update vscode setting
  .vscode/extensions.json
  .vscode/launch.json
Due: prettier --write

remove husky and lint-staged
  .husky/.gitignore
  .husky/pre-commit
  .lintstagedrc.json
  AGENTS.md
  apps/cli/AGENTS.md
  apps/pwa/AGENTS.md
  package.json
Due: prettier --write

remove scripts
  scripts/tslint.ts
Due: eslint --fix, prettier --write

add doc of development
  apps/cli-go/.air.toml
  apps/cli-go/cmd/import.go
  apps/cli-go/cmd/start.go
  apps/cli-go/internal/config/config.go
  docs/build/build.png
  docs/build/index.md
  docs/development/index.md
  docs/run_by_source_code/index.md
  docs/screenshot.png
  readme.md
  tmp/build-errors.log
Due: prettier --write

correct lyric gain
  apps/cli-go/internal/api/handler/lyric.go
  apps/cli-go/internal/api/handler/lyric_test.go
  apps/cli-go/internal/api/handler/music.go
  apps/cli-go/internal/store/music.go
Due: none

add doc of databse
  docs/development/database.d2
  docs/development/index.md
Due: prettier --write

refactor build
  apps/pwa/.gitignore
  apps/pwa/src/pages/player/singer_drawer/singer_drawer.tsx
  apps/pwa/src/server/api/get_singer.ts
  apps/pwa/webpack/base.js
Due: eslint --fix, prettier --write

fix singer gain
  .gitignore
  apps/cli/internal/api/handler/singer.go
  apps/cli/internal/api/handler/singer_test.go
  apps/cli/internal/store/music.go
  build.sh
Due: none

docker dir
  docker/Dockerfile
  docker/docker.md
  docker/docker_build_and_push.sh
Due: prettier --write

go server logs
  .github/workflows/beta_docker_build_and_push.yaml
  .github/workflows/docker_build_and_push.yaml
  Dockerfile
  apps/cli/cmd/start.go
  apps/cli/internal/config/config.go
  apps/cli/internal/config/mode_dev.go
  apps/cli/internal/config/mode_prod.go
  apps/cli/internal/server/server.go
  docker.md
  docker_build_and_push.sh
Due: prettier --write

remove tmp
  .gitignore
  tmp/build-errors.log
Due: none

upgrade api doc
  apps/cli/internal/apidoc/apidoc_test.go
  apps/cli/internal/apidoc/openapi.go
  apps/cli/internal/apidoc/page.go
  apps/cli/internal/server/server.go
Due: none

use make
  .gitignore
  Makefile
  build.sh
Due: none

default data
  apps/cli/cmd/root.go
  apps/cli/internal/config/config.go
Due: none

improve initialization
  Makefile
  apps/cli/cmd/start.go
  apps/cli/internal/store/schema.go
Due: none

improve build of pwa
  apps/pwa/babel.config.json
  apps/pwa/index.html
  apps/pwa/package-lock.json
  apps/pwa/package.json
  apps/pwa/src/__empty_module.ts
  apps/pwa/src/app/head.tsx
  apps/pwa/tsconfig.json
  apps/pwa/vite.config.ts
  apps/pwa/webpack/base.js
  apps/pwa/webpack/dev.js
  apps/pwa/webpack/dev_with_sw.js
  apps/pwa/webpack/prod.js
Due: eslint --fix, prettier --write

remove import and add export
  apps/cli/cmd/export.go
  apps/cli/cmd/import.go
  apps/cli/internal/store/music.go
Due: none

add admin page
  apps/pwa/src/app/app.tsx
  apps/pwa/src/constants/route.ts
  apps/pwa/src/i18n/en.ts
  apps/pwa/src/i18n/zh_hans.ts
  apps/pwa/src/pages/admin/index.tsx
  apps/pwa/src/pages/admin/music_management/import_section.tsx
  apps/pwa/src/pages/admin/music_management/index.tsx
  apps/pwa/src/pages/admin/music_management/music_edit_drawer.tsx
  apps/pwa/src/pages/admin/music_management/music_list.tsx
  apps/pwa/src/pages/player/music_drawer/music_drawer.tsx
  apps/pwa/src/pages/player/music_drawer/toolbar.tsx
  apps/pwa/src/pages/player/pages/my_music/index.tsx
  apps/pwa/src/pages/player/pages/my_music/toolbar/index.tsx
  apps/pwa/src/pages/player/pages/setting/index.tsx
  apps/pwa/src/pages/player/route.tsx
  apps/pwa/src/pages/player/sidebar/menu.tsx
Due: eslint --fix, prettier --write

pwa removes shortcut
  apps/pwa/src/i18n/en.ts
  apps/pwa/src/i18n/zh_hans.ts
  apps/pwa/src/pages/player/index.tsx
  apps/pwa/src/pages/player/use_keyboard.ts
  apps/pwa/src/pages/player/use_lyric_panel_open.ts
Due: eslint --fix, prettier --write

react-router v7
  apps/pwa/package-lock.json
  apps/pwa/package.json
Due: prettier --write

update gitignore
  .gitignore
Due: none

new slider
  apps/pwa/package-lock.json
  apps/pwa/package.json
  apps/pwa/src/components/slider/constants.ts
  apps/pwa/src/components/slider/index.ts
  apps/pwa/src/components/slider/slider.tsx
  apps/pwa/src/components_next/index.ts
  apps/pwa/src/components_next/readme.md
  apps/pwa/src/components_next/slider/index.tsx
  apps/pwa/src/components_next/slider/slider.stories.tsx
  apps/pwa/src/pages/player/controller/progress_bar.tsx
  apps/pwa/src/pages/player/lyric_panel/controller/progress_bar.tsx
  apps/pwa/src/pages/player/pages/setting/volume.tsx
  docs/development/index.md
Due: eslint --fix, prettier --write

new input
  apps/pwa/src/components_next/button/button.stories.tsx
  apps/pwa/src/components_next/icon/icon.stories.tsx
  apps/pwa/src/components_next/icon/icons/play-queue.tsx
  apps/pwa/src/components_next/index.ts
  apps/pwa/src/components_next/input/index.tsx
  apps/pwa/src/components_next/input/input.stories.tsx
  apps/pwa/src/components_next/slider/slider.stories.tsx
Due: eslint --fix, prettier --write

pull request checks
  .github/workflows/beta_docker_build_and_push.yaml
  .github/workflows/build_and_release.yaml
  .github/workflows/docker_build_and_push.yaml
  .github/workflows/pull_request_checks.yaml
  .gitignore
  apps/cli/internal/api/handler/lyric_test.go
  apps/cli/internal/api/handler/singer_test.go
  apps/cli/internal/store/db.go
  apps/pwa/.gitignore
  apps/pwa/package.json
  apps/pwa/test/shared_utils.test.ts
  apps/pwa/tsconfig.test.json
Due: eslint --fix, prettier --write

apply new input
  apps/pwa/src/components/input.tsx
  apps/pwa/src/components/pagination/custom_page.tsx
  apps/pwa/src/components_next/input/index.tsx
  apps/pwa/src/pages/admin/music_management/music_list.tsx
  apps/pwa/src/pages/login/first_step/index.tsx
  apps/pwa/src/pages/login/second_step/index.tsx
  apps/pwa/src/pages/player/2fa_dialog/index.tsx
  apps/pwa/src/pages/player/header/search.tsx
  apps/pwa/src/pages/player/pages/music_play_record/toolbar/filter.tsx
  apps/pwa/src/pages/player/pages/musicbill/filter.tsx
  apps/pwa/src/pages/player/pages/my_music/create_music_dialog/index.tsx
  apps/pwa/src/pages/player/pages/my_music/toolbar/filter.tsx
  apps/pwa/src/pages/player/pages/public_musicbill_collection/toolbar/filter.tsx
  apps/pwa/src/pages/player/pages/search/input.tsx
  apps/pwa/src/pages/player/pages/setting/stop_timer.tsx
  apps/pwa/src/pages/player/pages/user_manage/create_user_dialog.tsx
  apps/pwa/src/pages/player/pages/user_manage/toolbar/filter.tsx
  apps/pwa/src/pages/player/pages/user_manage/user_edit_drawer/user_edit.tsx
  apps/pwa/src/pages/player/playlist_playqueue_drawer/playlist/toolbar.tsx
  apps/pwa/src/utils/dialog/captcha/index.tsx
  apps/pwa/src/utils/dialog/input.tsx
  apps/pwa/src/utils/dialog/input_list.tsx
  apps/pwa/src/utils/dialog/password.tsx
Due: eslint --fix, prettier --write

new select
  apps/pwa/src/app/index.tsx
  apps/pwa/src/components/select/constants.ts
  apps/pwa/src/components/select/dropdown_indicator.tsx
  apps/pwa/src/components/select/global_style.ts
  apps/pwa/src/components/select/index.ts
  apps/pwa/src/components/select/loading_message.tsx
  apps/pwa/src/components/select/multiple_select.tsx
  apps/pwa/src/components/select/select.tsx
  apps/pwa/src/components/select/utils.ts
  apps/pwa/src/components/select/vacant.tsx
  apps/pwa/src/components_next/index.ts
  apps/pwa/src/components_next/select/index.tsx
  apps/pwa/src/components_next/select/select.stories.tsx
  apps/pwa/src/pages/admin/music_management/music_edit_drawer.tsx
  apps/pwa/src/pages/login/first_step/language.tsx
  apps/pwa/src/pages/login/first_step/server_list.tsx
  apps/pwa/src/pages/login/second_step/user_list.tsx
  apps/pwa/src/pages/player/music_drawer/edit_menu.tsx
  apps/pwa/src/pages/player/pages/my_music/create_music_dialog/index.tsx
  apps/pwa/src/pages/player/pages/setting/language.tsx
  apps/pwa/src/utils/dialog/constants.ts
  apps/pwa/src/utils/dialog/multiple_select.tsx
  docs/development/cli/database.d2
  docs/development/cli/index.md
  docs/development/index.md
Due: eslint --fix, prettier --write

new dialog
  Makefile
  apps/cli/cmd/root.go
  apps/cli/internal/api/handler/auth.go
  apps/cli/internal/apidoc/openapi.go
  apps/cli/internal/auth/captcha.go
  apps/cli/internal/version/build_profile_dev.go
  apps/cli/internal/version/build_profile_prod.go
  apps/cli/internal/version/version.go
  apps/cli/internal/version/version_test.go
  apps/pwa/package-lock.json
  apps/pwa/package.json
  apps/pwa/src/components/dialog.tsx
  apps/pwa/src/components_next/dialog/dialog.stories.tsx
  apps/pwa/src/components_next/dialog/index.tsx
  apps/pwa/src/components_next/index.ts
  apps/pwa/src/pages/player/2fa_dialog/index.tsx
  apps/pwa/src/pages/player/pages/my_music/create_music_dialog/index.tsx
  apps/pwa/src/pages/player/pages/setting/extra_info.tsx
  apps/pwa/src/pages/player/pages/user_manage/create_user_dialog.tsx
  apps/pwa/src/shared/constants/index.ts
  apps/pwa/src/utils/dialog/alert.tsx
  apps/pwa/src/utils/dialog/captcha/captcha.tsx
  apps/pwa/src/utils/dialog/captcha/index.tsx
  apps/pwa/src/utils/dialog/confirm.tsx
  apps/pwa/src/utils/dialog/dialog_base.tsx
  apps/pwa/src/utils/dialog/file_select.tsx
  apps/pwa/src/utils/dialog/image_cut.tsx
  apps/pwa/src/utils/dialog/input.tsx
  apps/pwa/src/utils/dialog/input_list.tsx
  apps/pwa/src/utils/dialog/multiple_select.tsx
  apps/pwa/src/utils/dialog/password.tsx
  apps/pwa/src/utils/dialog/textarea_list.tsx
  apps/pwa/vite.config.ts
  docs/development/cli/index.md
  docs/development/index.md
  docs/docker_deployment/index.md
  readme.md
  scripts/build_version.mjs
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{html,css,js,jsx,ts,tsx,json,md}
