Repository mebtte/cicada: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix pwa build
  apps/pwa/src/pages/player/music_drawer/use_music.ts
Due: eslint --fix, prettier --write

fix pwa service worker
  apps/pwa/webpack/prod.js
  package.json
Due: eslint --fix, prettier --write

new service worker
  apps/pwa/.eslintrc.cjs
  apps/pwa/src/index.tsx
  apps/pwa/src/service_worker.ts
  apps/pwa/src/static/doctor.html
  apps/pwa/tsconfig.json
  apps/pwa/webpack/base.js
  apps/pwa/webpack/dev.js
  apps/pwa/webpack/prod.js
  package.json
Due: eslint --fix, prettier --write

improve sw dev
  apps/pwa/package.json
  apps/pwa/src/index.tsx
  apps/pwa/webpack/base.js
  apps/pwa/webpack/dev.js
  apps/pwa/webpack/dev_with_sw.js
  apps/pwa/webpack/prod.js
  apps/server/src/api/controllers/get_login_code.ts
  package.json
Due: eslint --fix, prettier --write

cache request
  apps/pwa/.eslintrc.cjs
  apps/pwa/src/index.tsx
  apps/pwa/src/pages/login/email_panel/index.tsx
  apps/pwa/src/service_worker.ts
  apps/pwa/src/static/cover/025242724a60d040cf76496763d7b6aa.jpeg
  apps/pwa/src/static/cover/11b4e6435f16dd1243db45d38323b9b5.jpeg
  apps/pwa/src/static/cover/21bb5a4b18dd2b849a022e064bbd71ba.jpeg
  apps/pwa/src/static/cover/272e2965369ef211a05284f84b69b735.jpeg
  apps/pwa/src/static/cover/3a5696f4b1316a57ae5803abd52157ac.jpeg
  apps/pwa/src/static/cover/3dc5e31ed4dab9d5c96bede52dc04e0a.jpeg
  apps/pwa/src/static/cover/44d5b1599ba968045963775220caaa54.jpeg
  apps/pwa/src/static/cover/48f42e1e75921cf374d565d93b790351.jpeg
  apps/pwa/src/static/cover/4e3f3e767e85eb90295094399bb2a660.jpeg
  apps/pwa/src/static/cover/51cf9664eba1b0748757752ef839ff43.jpeg
  apps/pwa/src/static/cover/7fc245a86589791d7079c6d8ecda5863.jpeg
  apps/pwa/src/static/cover/a745b51a94d6db066a797b4a07d46dad.jpeg
  apps/pwa/src/static/cover/bf6cbd11177c359320ac45270e73bf7c.jpeg
  apps/pwa/src/static/cover/cac3d52b3f13a7f1f044aa1b01b3b7a9.jpeg
  apps/pwa/src/static/cover/ce26cfa1ce58c0eaa632ff24310d5855.jpeg
  apps/pwa/webpack/prod.js
  package.json
  readme.md
Due: eslint --fix, prettier --write

fix pwa pro build
  apps/pwa/webpack/base.js
  package.json
Due: eslint --fix, prettier --write

improve pwa webpack config
  apps/pwa/webpack/base.js
  package.json
  readme.md
Due: eslint --fix, prettier --write

improve npm mirror
  .gitignore
  apps/pwa/src/pages/player/lyric/index.tsx
  apps/pwa/src/pages/player/pages/musicbill/music_list/empty.tsx
  apps/pwa/src/pages/player/pages/musicbill/music_list/error_display.tsx
  apps/pwa/src/pages/player/pages/musicbill/music_list/skeleton.tsx
  apps/pwa/src/pages/player/pages/musicbill/top_content/musicbill_info.tsx
  apps/pwa/src/pages/player/pages/musicbill/top_content/search.tsx
  apps/pwa/src/pages/player/sidebar/musicbill_list/skeleton.tsx
  apps/server/src/asset.ts
  apps/server/src/pwa.ts
  apps/server/src/temporary.ts
Due: eslint --fix, prettier --write

attempt to fix sw cache media
  apps/pwa/package.json
  apps/pwa/src/pages/player/audio.tsx
  apps/pwa/src/service_worker.ts
  apps/server/src/api/controllers/get_login_code.ts
  package.json
Due: eslint --fix, prettier --write

fix pwa type error
  apps/pwa/src/pages/player/lyric/index.tsx
  apps/pwa/src/pages/player/pages/musicbill/music_list/empty.tsx
  apps/pwa/src/pages/player/pages/musicbill/music_list/error_display.tsx
  apps/pwa/src/pages/player/pages/musicbill/music_list/skeleton.tsx
  apps/pwa/src/pages/player/pages/musicbill/top_content/musicbill_info.tsx
  apps/pwa/src/pages/player/pages/musicbill/top_content/search.tsx
  apps/pwa/src/pages/player/sidebar/musicbill_list/skeleton.tsx
  package.json
Due: eslint --fix, prettier --write

improve pwa request cache
  apps/pwa/src/server/index.ts
  package.json
Due: eslint --fix, prettier --write

improve pwa request cache
  apps/pwa/src/service_worker.ts
  apps/server/src/asset.ts
  package.json
Due: eslint --fix, prettier --write

attempt to cache media on sw
  apps/pwa/src/pages/player/audio.tsx
  apps/pwa/src/service_worker.ts
Due: eslint --fix, prettier --write

fix pwa cache media
  apps/pwa/src/constants/cache.ts
  apps/pwa/src/index.html
  apps/pwa/src/pages/player/audio.tsx
  apps/pwa/src/service_worker.ts
Due: eslint --fix, prettier --write

0.22.9
  package.json
Due: prettier --write

improve sw cache
  apps/pwa/src/service_worker.ts
  apps/server/src/constants/index.ts
  apps/server/src/index.ts
  apps/server/src/platform/temporary.ts
  package.json
  shared/constants/index.ts
Due: eslint --fix, prettier --write

improve service worker
  apps/pwa/src/components/avatar/animate_avatar.tsx
  apps/pwa/src/components/avatar/avatar.tsx
  apps/pwa/src/components/avatar/index.tsx
  apps/pwa/src/constants/cache.ts
  apps/pwa/src/pages/player/audio.tsx
  apps/pwa/src/pages/player/lyric/background/index.tsx
  apps/pwa/src/pages/player/sidebar/musicbill_list/musicbill.tsx
  apps/pwa/src/server/index.ts
  apps/pwa/src/service_worker.ts
  apps/pwa/webpack/base.js
  apps/server/src/asset.ts
  apps/server/src/blob/controllers/upload_asset.ts
  apps/server/src/constants/index.ts
  apps/server/src/index.ts
  apps/server/src/platform/asset.ts
  apps/server/src/platform/temporary.ts
  apps/server/src/pwa.ts
  apps/server/src/temporary.ts
  package.json
  shared/constants/index.ts
Due: eslint --fix, prettier --write

fix service worker remove workbox-precache
  apps/pwa/src/service_worker.ts
  package.json
Due: eslint --fix, prettier --write

fix image no use cache
  apps/pwa/src/pages/login/logo.tsx
  apps/pwa/src/pages/player/components/music_info.tsx
  apps/pwa/src/pages/player/lyric/turntable.tsx
  apps/pwa/src/pages/player/musicbilll_order_drawer/musicbill.tsx
  apps/pwa/src/service_worker.ts
  apps/pwa/src/utils/load_image.ts
  package.json
Due: eslint --fix, prettier --write

new storage
  apps/pwa/src/constants/setting.ts
  apps/pwa/src/constants/user.ts
  apps/pwa/src/global_states/player_volume.ts
  apps/pwa/src/global_states/profile.ts
  apps/pwa/src/global_states/setting.ts
  apps/pwa/src/global_states/token.ts
  apps/pwa/src/pages/login/index.tsx
  apps/pwa/src/pages/login/login_code_panel.tsx
  apps/pwa/src/pages/login/user_panel.tsx
  apps/pwa/src/pages/player/audio.tsx
  apps/pwa/src/pages/player/pages/setting/volume.tsx
  apps/pwa/src/pages/player/share_states/volume.ts
  apps/pwa/src/pages/player/sidebar/user.tsx
  apps/pwa/src/platform/storage.ts
  apps/pwa/tsconfig.json
  apps/pwa/webpack/base.js
  package.json
  shared/utils/storage.ts
Due: eslint --fix, prettier --write

improve storage
  apps/pwa/src/global_states/player_volume.ts
  apps/pwa/src/global_states/profile.ts
  apps/pwa/src/global_states/setting.ts
  apps/pwa/src/global_states/token.ts
  apps/pwa/src/pages/login/index.tsx
  apps/pwa/src/pages/login/login_code_panel.tsx
  apps/pwa/src/storage.ts
  package.json
  shared/utils/storage.ts
Due: eslint --fix, prettier --write

improve get captcha
  apps/server/src/api/controllers/get_captcha.ts
  package.json
Due: eslint --fix, prettier --write

add test
  .eslintrc.cjs
  jest.config.ts
  package.json
  shared/utils/eventemitter.ts
  shared/utils/generate_random_string.test.ts
Due: eslint --fix, prettier --write

use eventin
  apps/pwa/src/utils/notice.tsx
  package.json
  shared/utils/eventemitter.test.ts
  shared/utils/eventemitter.ts
  shared/utils/x_state.tsx
Due: eslint --fix, prettier --write

react-lrc upgrade to 3
  apps/pwa/src/pages/player/lyric/lrc_display.tsx
  apps/pwa/src/pages/player/music_drawer/lyric.tsx
  package.json
Due: eslint --fix, prettier --write

refactor directory
  .gitignore
  apps/desktop/.eslintrc.cjs
  apps/desktop/package.json
  apps/desktop/tsconfig.json
  apps/desktop_setting/.eslintrc.cjs
  apps/desktop_setting/package.json
  apps/desktop_setting/tsconfig.json
  apps/server/secrets/jwt_secret
  apps/server/secrets/login_code_salt
  apps/server/src/api/controllers/login.ts
  apps/server/src/api/controllers/upload_music_play_record.ts
  apps/server/src/argv.ts
  apps/server/src/constants/directory.ts
  apps/server/src/middlewares/authorize.ts
  apps/server/src/platform/jwt.ts
  package.json
  readme.md
  scripts/create_token.ts
  scripts/delete_music.ts
  shared/constants/directory.ts
Due: eslint --fix, prettier --write

multiple lrc support
  apps/pwa/src/pages/player/lyric/constants.ts
  apps/pwa/src/pages/player/lyric/content.tsx
  apps/pwa/src/pages/player/lyric/lrc_display.tsx
  apps/pwa/src/pages/player/lyric/use_lyric.ts
  apps/pwa/src/pages/player/music_drawer/constants.ts
  apps/pwa/src/pages/player/music_drawer/lyric.tsx
  apps/pwa/src/pages/player/music_drawer/music_drawer.tsx
  apps/pwa/src/pages/player/music_drawer/use_music.ts
  apps/pwa/src/server/get_lyric.ts
  apps/server/src/api/controllers/get_lyric.ts
  apps/server/src/api/controllers/get_music_detail.ts
  apps/server/src/db/lyric.ts
  package.json
  shared/constants/exception.ts
Due: eslint --fix, prettier --write

fix db initialize
  apps/server/src/initialize.ts
  package.json
Due: eslint --fix, prettier --write

package to binary
  .gitignore
  apps/pwa/webpack/base.js
  apps/pwa/webpack/prod.js
  apps/server/package.json
  apps/server/src/api/controllers/create_music.ts
  apps/server/src/api/controllers/create_musicbill_export.ts
  apps/server/src/api/controllers/create_user.ts
  apps/server/src/argv.ts
  apps/server/src/config.ts
  apps/server/src/constants/directory.ts
  apps/server/src/constants/index.ts
  apps/server/src/index.ts
  apps/server/src/initialize.ts
  apps/server/src/platform/asset.ts
  apps/server/src/platform/email.ts
  apps/server/src/platform/temporary.ts
  apps/server/src/pwa.ts
  apps/server/webpack.config.js
  package.json
Due: eslint --fix, prettier --write

improve docs
  apps/server/src/index.ts
  package.json
  readme.md
Due: eslint --fix, prettier --write

fix gh-pages
  .github/workflows/gh-pages.yaml
Due: none

add linux x64
  package.json
Due: prettier --write

fix pkg sqlite
  package.json
Due: prettier --write

add build script
  build.sh
Due: none

custom build
  build.sh
  docs/build.md
  docs/db.md
  package.json
  readme.md
Due: prettier --write

fix pkg
  build.sh
  package.json
Due: prettier --write

github action auto release
  .github/workflows/pages.yaml
  .github/workflows/release.yaml
  package.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{html,css,js,jsx,ts,tsx,json,md}
