Repository mebtte/cicada: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix"],
  "*.{html,css,js,jsx,ts,tsx,json,md}": ["prettier --write"]
}

fix styles
  apps/pwa/src/pages/admin/index.tsx
  apps/pwa/src/pages/player/pages/exploration/use_data.ts
  apps/pwa/src/utils/cache.ts
  apps/pwa/test/utils.test.ts
Due: eslint --fix, prettier --write

update readme
  docs/screenshot.png
  readme.md
Due: prettier --write

update readme
  readme.md
Due: prettier --write

fix styles
  apps/pwa/src/global_style.ts
  apps/pwa/src/pages/player/pages/user/index.tsx
  apps/pwa/src/pages/player/playlist_playqueue_drawer/playlist/toolbar.tsx
Due: eslint --fix, prettier --write

remove music cover
  apps/pwa/index.html
  apps/pwa/src/disable_zoom.ts
  apps/pwa/src/i18n/en.ts
  apps/pwa/src/i18n/zh_hans.ts
  apps/pwa/src/index.tsx
  apps/pwa/src/pages/admin/music_management/music_edit_drawer.tsx
  apps/pwa/src/pages/login/first_step/manage_content.tsx
  apps/pwa/src/pages/login/first_step/server_list.tsx
  apps/pwa/src/pages/player/music_drawer/content.tsx
Due: eslint --fix, prettier --write

improve lrc
  apps/pwa/src/i18n/en.ts
  apps/pwa/src/i18n/zh_hans.ts
  apps/pwa/src/pages/admin/music_management/music_edit_drawer.tsx
  apps/pwa/src/pages/player/music_drawer/lyric.tsx
  apps/pwa/src/pages/player/singer_drawer/content.tsx
  apps/pwa/src/utils/format_music_filename.ts
Due: eslint --fix, prettier --write

improve music import
  apps/pwa/src/components/select/index.tsx
  apps/pwa/src/components/slider/index.tsx
  apps/pwa/src/pages/admin/music_management/import/index.tsx
  apps/pwa/src/pages/admin/music_management/import/sidebar.tsx
Due: eslint --fix, prettier --write

improve lrc edit
  apps/pwa/src/i18n/en.ts
  apps/pwa/src/i18n/zh_hans.ts
  apps/pwa/src/pages/admin/music_management/music_edit_drawer.tsx
Due: eslint --fix, prettier --write

improve admin page
  apps/pwa/src/i18n/en.ts
  apps/pwa/src/i18n/zh_hans.ts
  apps/pwa/src/pages/admin/index.tsx
  apps/pwa/src/pages/admin/music_management/import/index.tsx
  apps/pwa/src/pages/admin/music_management/import/sidebar.tsx
  apps/pwa/src/pages/admin/music_management/music_edit_drawer.tsx
  apps/pwa/src/pages/admin/music_management/music_list.tsx
  apps/pwa/src/pages/admin/singer_management/index.tsx
  apps/pwa/src/pages/admin/user_management/index.tsx
Due: eslint --fix, prettier --write

remove singer
  apps/cli/internal/api/apperr/codes.go
  apps/cli/internal/api/handler/singer.go
  apps/cli/internal/apidoc/openapi.go
  apps/cli/internal/scheduler/scheduler.go
  apps/cli/internal/server/server.go
  apps/cli/internal/store/singer.go
  apps/pwa/src/constants/exception.ts
  apps/pwa/src/i18n/en.ts
  apps/pwa/src/i18n/zh_hans.ts
  apps/pwa/src/pages/admin/components/singer_edit/content.tsx
  apps/pwa/src/pages/admin/components/singer_edit/drawer.tsx
  apps/pwa/src/pages/admin/components/singer_edit/types.ts
  apps/pwa/src/pages/admin/music_management/music_edit_drawer.tsx
  apps/pwa/src/pages/admin/singer_management/singer_edit_page.tsx
  apps/pwa/src/server/api/admin_delete_singer.ts
  apps/pwa/src/server/api/admin_get_singer.ts
Due: eslint --fix, prettier --write

improve styles
  apps/pwa/src/pages/admin/music_management/music_list.tsx
  apps/pwa/src/pages/admin/singer_management/index.tsx
  apps/pwa/src/pages/admin/user_management/index.tsx
  apps/pwa/src/pages/login/index.tsx
  apps/pwa/src/pages/player/playlist_add_animation.tsx
Due: eslint --fix, prettier --write

improve styles
  apps/pwa/src/pages/player/controller/info.tsx
Due: eslint --fix, prettier --write

recently added music/singer/musicbill
  apps/cli/internal/api/handler/music.go
  apps/cli/internal/apidoc/openapi.go
  apps/pwa/src/i18n/en.ts
  apps/pwa/src/i18n/zh_hans.ts
  apps/pwa/src/pages/player/pages/exploration/cache.ts
  apps/pwa/src/pages/player/pages/exploration/index.tsx
  apps/pwa/src/pages/player/pages/exploration/use_data.ts
  apps/pwa/src/server/api/get_exploration.ts
Due: eslint --fix, prettier --write

quick admin edit
  apps/pwa/src/components/input/index.tsx
  apps/pwa/src/constants/setting.ts
  apps/pwa/src/global_states/setting.ts
  apps/pwa/src/i18n/en.ts
  apps/pwa/src/i18n/zh_hans.ts
  apps/pwa/src/pages/admin/music_management/index.tsx
  apps/pwa/src/pages/admin/singer_management/index.tsx
  apps/pwa/src/pages/player/music_drawer/lyric.tsx
  apps/pwa/src/pages/player/music_drawer/toolbar.tsx
  apps/pwa/src/pages/player/pages/setting/admin_quick_edit.tsx
  apps/pwa/src/pages/player/pages/setting/index.tsx
  apps/pwa/src/pages/player/singer_drawer/toolbar.tsx
Due: eslint --fix, prettier --write

tooltip
  apps/cli/pwa/pwa_prod.go
  apps/pwa/package-lock.json
  apps/pwa/package.json
  apps/pwa/src/components/button/index.tsx
  apps/pwa/src/components/index.ts
  apps/pwa/src/components/tooltip/index.tsx
  apps/pwa/src/components/tooltip/tooltip.stories.tsx
  apps/pwa/src/i18n/en.ts
  apps/pwa/src/i18n/zh_hans.ts
  apps/pwa/src/pages/player/components/music.tsx
  apps/pwa/src/pages/player/components/music_base.tsx
  apps/pwa/src/pages/player/controller/operation.tsx
  apps/pwa/src/pages/player/lyric_panel/controller/operation.tsx
  apps/pwa/src/pages/player/music_drawer/toolbar.tsx
  apps/pwa/src/pages/player/musicbill_drawer/toolbar.tsx
  apps/pwa/src/pages/player/pages/musicbill/operation.tsx
  apps/pwa/src/pages/player/playlist_playqueue_drawer/playlist/index.tsx
  apps/pwa/src/pages/player/sidebar/musicbill_list/top.tsx
  apps/pwa/src/pages/player/singer_drawer/toolbar.tsx
Due: eslint --fix, prettier --write

improve styles
  apps/pwa/src/components/slider/index.tsx
  apps/pwa/src/i18n/en.ts
  apps/pwa/src/i18n/zh_hans.ts
  apps/pwa/src/pages/admin/music_management/import/sidebar.tsx
  apps/pwa/src/pages/player/components/music_base.tsx
  apps/pwa/src/pages/player/controller/info.tsx
  apps/pwa/src/pages/player/controller/progress_bar.tsx
  apps/pwa/src/pages/player/lyric_panel/controller/info.tsx
  apps/pwa/src/pages/player/lyric_panel/controller/progress_bar.tsx
  apps/pwa/src/pages/player/pages/exploration/index.tsx
  apps/pwa/src/pages/player/playlist_playqueue_drawer/playqueue.tsx
  apps/pwa/src/pages/player/use_audio/index.ts
  apps/pwa/src/pages/player/use_audio/on_error.tsx
  apps/pwa/src/pages/player/use_progress_seek.ts
Due: eslint --fix, prettier --write

improve play detail
  apps/pwa/src/pages/player/lyric_panel/controller/index.tsx
Due: eslint --fix, prettier --write

improve login
  apps/pwa/src/pages/login/first_step/server_list.tsx
Due: eslint --fix, prettier --write

improve styles
  apps/cli/internal/api/handler/music.go
  apps/cli/internal/apidoc/openapi.go
  apps/pwa/src/pages/player/lyric_panel/controller/progress_bar.tsx
  apps/pwa/src/pages/player/music_drawer/constants.ts
  apps/pwa/src/pages/player/music_drawer/content.tsx
  apps/pwa/src/server/api/get_music.ts
Due: eslint --fix, prettier --write

improve media session
  apps/pwa/src/pages/player/use_media_session.ts
Due: eslint --fix, prettier --write

refactor export
  apps/pwa/src/pages/player/components/music_base.tsx
  apps/pwa/src/pages/player/constants.ts
  apps/pwa/src/pages/player/pages/exporting_music/music_list/index.tsx
  apps/pwa/src/pages/player/playlist_playqueue_drawer/playqueue.tsx
  apps/pwa/src/pages/player/use_export.ts
  apps/pwa/src/utils/format_music_filename.ts
  apps/pwa/src/utils/notice/notice_item.tsx
Due: eslint --fix, prettier --write

improve player styles
  apps/pwa/src/pages/player/constants.ts
  apps/pwa/src/pages/player/controller/controller.tsx
  apps/pwa/src/pages/player/controller/cover.tsx
  apps/pwa/src/pages/player/controller/time.tsx
Due: eslint --fix, prettier --write

improve styles
  apps/pwa/src/i18n/en.ts
  apps/pwa/src/i18n/zh_hans.ts
  apps/pwa/src/pages/player/constants.ts
  apps/pwa/src/pages/player/controller/controller.tsx
  apps/pwa/src/updater.tsx
Due: eslint --fix, prettier --write

refactor play record
  apps/cli/internal/api/handler/auth.go
  apps/cli/internal/api/handler/dashboard_test.go
  apps/cli/internal/api/handler/playrecord.go
  apps/cli/internal/api/handler/playrecord_test.go
  apps/cli/internal/apidoc/openapi.go
  apps/cli/internal/server/server.go
  apps/cli/internal/store/dashboard.go
  apps/cli/internal/store/migration/m_108_play_record_played_at.go
  apps/cli/internal/store/migration/m_108_play_record_played_at_test.go
  apps/cli/internal/store/playrecord.go
  apps/cli/internal/store/schema.go
  apps/pwa/src/pages/player/pages/music_play_record/music_play_record_list/music_play_record.tsx
  apps/pwa/src/pages/player/storage.ts
  apps/pwa/src/pages/player/use_audio/play_record_upload_queue.ts
  apps/pwa/src/pages/player/use_audio/use_play_record.ts
  apps/pwa/src/server/api/get_music_play_record_list.ts
  apps/pwa/src/server/api/upload_music_play_record.ts
  apps/pwa/src/server/base/upload_music_play_record.ts
Due: eslint --fix, prettier --write

improve singer photo
  apps/cli/internal/api/handler/singer_photo_test.go
  apps/cli/internal/store/singer_photo.go
Due: none

improve play record
  apps/pwa/src/pages/player/use_audio/play_record_upload_queue.ts
  apps/pwa/src/pages/player/use_audio/use_play_record.ts
Due: eslint --fix, prettier --write

improve styles
  apps/pwa/src/pages/player/musicbill_music_drawer/musicbill.tsx
Due: eslint --fix, prettier --write

improve play detail
  apps/pwa/src/pages/player/use_lyric_panel_open.ts
Due: eslint --fix, prettier --write

fix styles
  apps/pwa/src/pages/player/lyric_panel/lyric/lyric.tsx
Due: eslint --fix, prettier --write

refactor transcode
  apps/cli/internal/api/handler/asset.go
  apps/cli/internal/api/handler/asset_test.go
  apps/cli/internal/api/handler/music_transcode.go
  apps/cli/internal/apidoc/openapi.go
  apps/cli/internal/musictranscode/musictranscode.go
  apps/cli/internal/musictranscode/musictranscode_test.go
  apps/cli/internal/scheduler/scheduler.go
  apps/cli/internal/scheduler/scheduler_test.go
  apps/pwa/src/constants/setting.ts
  apps/pwa/src/i18n/en.ts
  apps/pwa/src/i18n/zh_hans.ts
  apps/pwa/src/pages/admin/music_management/floating_music_player.tsx
  apps/pwa/src/pages/player/pages/setting/playback_quality.tsx
  apps/pwa/src/storage.ts
  apps/pwa/src/utils/music_asset.ts
  apps/pwa/src/utils/music_playback_asset.ts
  apps/pwa/test/utils.test.ts
Due: eslint --fix, prettier --write

improve schedule
  apps/cli/internal/scheduler/scheduler.go
Due: none

remove garbage from old version
  apps/cli/internal/scheduler/scheduler.go
  apps/cli/internal/scheduler/scheduler_test.go
  apps/cli/internal/store/migration/m_109_clean_legacy_root_files.go
  apps/cli/internal/store/migration/m_109_clean_legacy_root_files_test.go
  apps/pwa/src/components/select/index.tsx
Due: eslint --fix, prettier --write

reload play record
  apps/pwa/src/pages/player/constants.ts
  apps/pwa/src/pages/player/header/index.tsx
  apps/pwa/src/pages/player/pages/exploration/index.tsx
  apps/pwa/src/pages/player/pages/music_play_record/eventemitter.ts
  apps/pwa/src/pages/player/pages/music_play_record/music_play_record_list/use_music_play_record_list.ts
  apps/pwa/src/pages/player/pages/music_play_record/toolbar/index.tsx
  apps/pwa/src/utils/use_navigate.ts
Due: eslint --fix, prettier --write

sidebar quick open
  apps/pwa/src/pages/admin/index.tsx
  apps/pwa/src/pages/player/index.tsx
  apps/pwa/src/pages/player/use_open_sidebar_swipe.ts
Due: eslint --fix, prettier --write

improve search
  apps/cli/internal/api/handler/music.go
  apps/cli/internal/store/lyric.go
  apps/cli/internal/store/lyric_test.go
  apps/cli/internal/store/music.go
  apps/cli/internal/store/music_test.go
  apps/cli/internal/store/musicbill.go
  apps/cli/internal/store/musicbill_test.go
  apps/cli/internal/store/search.go
  apps/cli/internal/store/singer.go
  apps/cli/internal/store/singer_test.go
  apps/pwa/src/pages/player/pages/search/lyric/use_data.ts
  apps/pwa/src/pages/player/pages/search/public_musicbill/use_data.ts
  apps/pwa/src/pages/player/sidebar/mini_mode.tsx
Due: eslint --fix, prettier --write

improve styles
  apps/pwa/src/components/dialog/index.tsx
  apps/pwa/src/components/dialog_a11y.ts
  apps/pwa/src/components/drawer/index.tsx
  apps/pwa/src/pages/admin/index.tsx
  apps/pwa/src/pages/player/use_audio/index.ts
  apps/pwa/src/pages/player/use_audio/on_error.tsx
  apps/pwa/src/utils/dialog/dialog_base.tsx
Due: eslint --fix, prettier --write

fix ffmpeg/ffprobe download
  scripts/prepare_ffmpeg_bundle.mjs
Due: none

improve cache.thumbnails
  apps/cli/internal/api/handler/asset.go
  apps/cli/internal/api/handler/asset_test.go
  apps/cli/internal/config/config.go
  apps/cli/internal/config/config_test.go
  apps/cli/internal/scheduler/scheduler.go
  apps/cli/internal/scheduler/scheduler_test.go
  apps/cli/internal/store/migration/m_110_shard_thumbnail_cache.go
  apps/cli/internal/store/migration/m_110_shard_thumbnail_cache_test.go
Due: none

improve transcode scheduler
  apps/cli/internal/ffmpeg/audio.go
  apps/cli/internal/musictranscode/musictranscode.go
  apps/cli/internal/musictranscode/musictranscode_test.go
  apps/cli/internal/scheduler/scheduler.go
Due: none

improve music_transcoded
  apps/cli/internal/config/config.go
  apps/cli/internal/config/config_test.go
  apps/cli/internal/musictranscode/musictranscode.go
  apps/cli/internal/scheduler/scheduler.go
  apps/cli/internal/scheduler/scheduler_test.go
  apps/cli/internal/store/migration/m_111_shard_music_transcode_cache.go
  apps/cli/internal/store/migration/m_111_shard_music_transcode_cache_test.go
Due: none
