Repository mebtte/cicada: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix version updater style
  apps/pwa/src/index.tsx
Due: eslint --fix, prettier --write

create singer
  apps/pwa/src/constants/index.ts
  apps/pwa/src/constants/query.ts
  apps/pwa/src/constants/route.ts
  apps/pwa/src/pages/login/user_panel.tsx
  apps/pwa/src/pages/player/header/use_title.ts
  apps/pwa/src/pages/player/pages/my_music/create_music_dialog/index.tsx
  apps/pwa/src/pages/player/pages/my_music/create_music_dialog/to_create_singer.tsx
  apps/pwa/src/pages/player/pages/my_music/eventemitter.ts
  apps/pwa/src/pages/player/pages/my_singer/create_singer_dialog/index.tsx
  apps/pwa/src/pages/player/pages/my_singer/create_singer_dialog/use_open.ts
  apps/pwa/src/pages/player/pages/my_singer/eventemitter.ts
  apps/pwa/src/pages/player/pages/my_singer/index.tsx
  apps/pwa/src/pages/player/pages/my_singer/singer_list.tsx
  apps/pwa/src/pages/player/pages/my_singer/toolbar.tsx
  apps/pwa/src/pages/player/route.tsx
  apps/pwa/src/pages/player/sidebar/menu/index.tsx
  apps/pwa/src/platform/dialog.ts
  apps/pwa/src/platform/with_login.tsx
  apps/server/src/api_app/controllers/create_singer.ts
  shared/components/label.tsx
  shared/components/multiple_select/index.tsx
  shared/components/multiple_select/options.tsx
  shared/utils/use_navigate.ts
Due: eslint --fix, prettier --write

improve create music and singer
  apps/pwa/src/pages/player/pages/my_music/create_music_dialog/index.tsx
  apps/pwa/src/pages/player/pages/my_singer/create_singer_dialog/index.tsx
Due: eslint --fix, prettier --write

improve manitest.json
  apps/pwa/src/static/manifest.json
Due: prettier --write

improve titlebar
  apps/pwa/src/components/scrollable/constants.ts
  apps/pwa/src/components/scrollable/index.ts
  apps/pwa/src/components/scrollable/index.tsx
  apps/pwa/src/components/select/index.tsx
  apps/pwa/src/components/select/readme.md
  apps/pwa/src/components/vertical_drawer.tsx
  apps/pwa/src/constants/cache.ts
  apps/pwa/src/constants/index.ts
  apps/pwa/src/pages/player/header/index.tsx
  apps/pwa/src/pages/player/header/search.tsx
  apps/pwa/src/pages/player/header/search/use_keyboard.ts
  apps/pwa/src/pages/player/header/use_title_bar.ts
  apps/pwa/src/pages/player/index.tsx
  apps/pwa/src/pages/player/list_drawer/playlist/playlist.tsx
  apps/pwa/src/pages/player/list_drawer/playqueue/playqueue.tsx
  apps/pwa/src/pages/player/lyric/lrc_display.tsx
  apps/pwa/src/pages/player/music_drawer/music_drawer.tsx
  apps/pwa/src/pages/player/musicbill_list_drawer/musicbill_list.tsx
  apps/pwa/src/pages/player/musicbilll_order_drawer/index.tsx
  apps/pwa/src/pages/player/pages/musicbill/music_list/music_list.tsx
  apps/pwa/src/pages/player/pages/musicbill/music_list/skeleton.tsx
  apps/pwa/src/pages/player/pages/search/constants.ts
  apps/pwa/src/pages/player/pages/search/index.tsx
  apps/pwa/src/pages/player/pages/search/music_list.tsx
  apps/pwa/src/pages/player/pages/search/scrollable_page.tsx
  apps/pwa/src/pages/player/pages/setting/index.tsx
  apps/pwa/src/pages/player/use_keyboard.ts
  apps/pwa/src/server/index.ts
  apps/pwa/src/service_worker.ts
  apps/pwa/src/utils/get_original_scrollbar_width.ts
  shared/components/icon_button.tsx
  shared/style/scrollbar_always.ts
  shared/style/scrollbar_as_needed.ts
  shared/style/scrollbar_never.ts
Due: eslint --fix, prettier --write

remove build target node16-linux-arm64
  build.sh
Due: none

fix notice style
  apps/pwa/src/pages/player/header/index.tsx
  apps/pwa/src/pages/player/header/use_title_bar.ts
  apps/pwa/src/pages/player/header/use_titlebar.ts
  shared/utils/notice/constants.ts
  shared/utils/notice/notice_app.tsx
  shared/utils/use_titlebar_area_rect.ts
Due: eslint --fix, prettier --write

new logo
  apps/pwa/src/static/app_icon.png
  apps/pwa/src/static/logo.png
  apps/pwa/src/static/manifest.json
  apps/pwa/src/static/text_logo.png
Due: prettier --write

new app icon size
  apps/pwa/src/static/app_icon_180.png
  apps/pwa/src/static/app_icon_192.png
  apps/pwa/src/static/app_icon_270.png
  apps/pwa/src/static/app_icon_512.png
  apps/pwa/src/static/manifest.json
Due: prettier --write

apple touch icon
  apps/pwa/src/index.html
Due: prettier --write

fix ios app icon
  apps/pwa/src/index.html
Due: prettier --write

fix ios app icon
  apps/pwa/src/index.html
  apps/pwa/src/static/apple_touch_icon_precomposed.png
Due: prettier --write

fix ios app icon
  apps/pwa/src/static/apple_touch_icon_precomposed.png
  materials/app_icon.psd
  materials/apple_touch_icon_precomposed.psd
Due: none

update app icon
  apps/pwa/src/static/app_icon_180.png
  apps/pwa/src/static/app_icon_192.png
  apps/pwa/src/static/app_icon_270.png
  apps/pwa/src/static/app_icon_512.png
  apps/pwa/src/static/apple_touch_icon_precomposed.png
  apps/pwa/src/static/manifest.json
  materials/app_icon.psd
  materials/apple_touch_icon_precomposed.psd
Due: prettier --write

improve file select style
  shared/components/button.tsx
  shared/components/file_select.tsx
Due: eslint --fix, prettier --write

improvement for special screen
  apps/pwa/src/pages/player/controller/index.tsx
  apps/pwa/src/pages/player/index.tsx
  apps/pwa/src/pages/player/lyric/content.tsx
  apps/pwa/src/pages/player/lyric/index.tsx
  apps/pwa/src/pages/player/sidebar/menu/menu_item.tsx
  apps/pwa/src/pages/player/sidebar/musicbill_list/musicbill.tsx
  shared/components/dialog.tsx
Due: eslint --fix, prettier --write

download music sq
  apps/pwa/src/pages/player/music_operate_popup/menu_item.tsx
  apps/pwa/src/pages/player/music_operate_popup/music_operate_popup.tsx
  apps/pwa/src/pages/player/use_music_operate.ts
  apps/server/src/schedule/jobs/export_musicbill.ts
  package.json
  shared/utils/format_music_filename.ts
Due: eslint --fix, prettier --write

music download
  apps/pwa/src/pages/player/eventemitter.ts
  apps/pwa/src/pages/player/index.tsx
  apps/pwa/src/pages/player/music_download_dialog/index.tsx
  apps/pwa/src/pages/player/music_download_dialog/music_download_dialog.tsx
  apps/pwa/src/pages/player/music_operate_popup/music_operate_popup.tsx
  apps/pwa/src/pages/player/use_music_operate.ts
  shared/components/button.tsx
  shared/constants/exception.ts
Due: eslint --fix, prettier --write

add keyboard shortcut
  apps/pwa/src/index.tsx
  apps/pwa/src/pages/player/audio.tsx
  apps/pwa/src/pages/player/eventemitter.ts
  apps/pwa/src/pages/player/header/search.tsx
  apps/pwa/src/pages/player/use_keyboard.ts
  apps/pwa/src/utils/keyboard_handler_wrapper.ts
Due: eslint --fix, prettier --write

improve jest
  .gitignore
  jest.config.ts
  shared/utils/generate_random_integer.test.ts
  shared/utils/generate_random_integer.ts
  shared/utils/generate_random_string.test.ts
  shared/utils/generate_random_string.ts
Due: eslint --fix, prettier --write

improve build script
  build.sh
Due: none

improve alias
  apps/pwa/src/pages/player/constants.ts
  apps/pwa/src/pages/player/list_drawer/playlist/filter_playlist.ts
  apps/pwa/src/pages/player/pages/musicbill/music_list/filter_music_list.ts
  apps/pwa/src/pages/player/utils.ts
  apps/pwa/src/server/get_music_detail.ts
  apps/pwa/src/server/get_self_musicbill.ts
  apps/pwa/src/server/search_music.ts
  apps/server/src/api_app/controllers/get_music_detail.ts
  apps/server/src/api_app/controllers/get_self_musicbill.ts
  apps/server/src/api_app/controllers/search_music.ts
  shared/constants/index.ts
Due: eslint --fix, prettier --write

fix music alias return
  apps/pwa/src/pages/player/components/music/music.tsx
  apps/pwa/src/pages/player/music_drawer/music_drawer.tsx
  apps/pwa/src/pages/player/music_drawer/music_info.tsx
  apps/server/src/api_app/controllers/get_music_detail.ts
  apps/server/src/api_app/controllers/get_self_musicbill.ts
  apps/server/src/api_app/controllers/search_music.ts
Due: eslint --fix, prettier --write

fix notice item style
  shared/utils/notice/notice_item.tsx
Due: eslint --fix, prettier --write

improve controller cover
  apps/pwa/src/pages/player/controller/index.tsx
Due: eslint --fix, prettier --write

super page
  apps/pwa/src/constants/route.ts
  apps/pwa/src/pages/player/pages/super/index.tsx
  apps/pwa/src/pages/player/route.tsx
  apps/pwa/src/pages/player/sidebar/menu/index.tsx
Due: eslint --fix, prettier --write

api get self music list
  apps/pwa/src/pages/player/header/use_title.ts
  apps/pwa/src/server/get_self_music_list.ts
  apps/server/src/api_app/controllers/get_self_music_list.ts
  apps/server/src/api_app/controllers/search_music.ts
  apps/server/src/api_app/router.ts
Due: eslint --fix, prettier --write

improve singer aliases
  apps/pwa/src/constants/singer.ts
  apps/pwa/src/pages/player/components/music/music.tsx
  apps/pwa/src/pages/player/components/singer/index.tsx
  apps/pwa/src/pages/player/constants.ts
  apps/pwa/src/pages/player/list_drawer/playlist/filter_playlist.ts
  apps/pwa/src/pages/player/list_drawer/playlist/music.tsx
  apps/pwa/src/pages/player/list_drawer/playqueue/music.tsx
  apps/pwa/src/pages/player/pages/musicbill/music_list/filter_music_list.ts
  apps/pwa/src/pages/player/utils.ts
  apps/pwa/src/server/get_music_detail.ts
  apps/pwa/src/server/get_self_musicbill.ts
  apps/pwa/src/server/search_music.ts
  apps/server/src/api_app/controllers/get_music_detail.ts
  apps/server/src/api_app/controllers/get_self_musicbill.ts
  apps/server/src/api_app/controllers/search_music.ts
Due: eslint --fix, prettier --write

my music
  apps/pwa/src/constants/index.ts
  apps/pwa/src/pages/player/music_operate_popup/music_operate_popup.tsx
  apps/pwa/src/pages/player/pages/my_music/constants.ts
  apps/pwa/src/pages/player/pages/my_music/music_list.tsx
  apps/pwa/src/pages/player/pages/my_music/music_list/index.tsx
  apps/pwa/src/pages/player/pages/my_music/music_list/use_music_list.ts
  apps/pwa/src/pages/player/pages/my_music/toolbar/filter.tsx
  apps/pwa/src/pages/player/pages/my_music/toolbar/index.tsx
  apps/server/src/api_app/controllers/get_self_music_list.ts
  shared/components/label.tsx
  shared/components/pagination/constants.ts
  shared/components/pagination/custom_page.tsx
  shared/components/pagination/eventemitter.ts
  shared/components/pagination/index.tsx
  shared/components/pagination/use_pages.ts
  shared/components/vertical_drawer.tsx
Due: eslint --fix, prettier --write

my singer list
  apps/pwa/src/pages/player/header/index.tsx
  apps/pwa/src/pages/player/list_drawer/playqueue/playqueue.tsx
  apps/pwa/src/pages/player/music_drawer/index.tsx
  apps/pwa/src/pages/player/pages/my_singer/constants.ts
  apps/pwa/src/pages/player/pages/my_singer/index.tsx
  apps/pwa/src/pages/player/pages/my_singer/singer_list.tsx
  apps/pwa/src/pages/player/pages/my_singer/singer_list/index.tsx
  apps/pwa/src/pages/player/pages/my_singer/singer_list/singer_item.tsx
  apps/pwa/src/pages/player/pages/my_singer/singer_list/use_data.ts
  apps/pwa/src/pages/player/pages/my_singer/toolbar/filter.tsx
  apps/pwa/src/pages/player/pages/my_singer/toolbar/index.tsx
  apps/pwa/src/server/get_self_singer_list.ts
  apps/server/src/api_app/controllers/get_self_music_list.ts
  apps/server/src/api_app/controllers/get_self_singer_list.ts
  apps/server/src/api_app/router.ts
  package.json
  shared/style/absolute_full_size.ts
Due: eslint --fix, prettier --write

update header style
  apps/pwa/src/pages/player/header/index.tsx
Due: eslint --fix, prettier --write

auto remove no music singer
  apps/pwa/src/pages/player/pages/my_music/constants.ts
  apps/pwa/src/pages/player/pages/my_music/index.tsx
  apps/pwa/src/pages/player/pages/my_music/music_list/index.tsx
  apps/pwa/src/pages/player/pages/my_music/toolbar/index.tsx
  apps/pwa/src/pages/player/pages/my_singer/toolbar/index.tsx
  apps/pwa/src/pages/player/pages/my_singer/toolbar/question.tsx
  apps/server/src/schedule/index.ts
  apps/server/src/schedule/jobs/move_outdated_file_to_trash.ts
  apps/server/src/schedule/jobs/remove_no_music_singer.ts
  shared/constants/singer.ts
  shared/utils/notice/notice_app.tsx
Due: eslint --fix, prettier --write

fix remove no music singer
  apps/server/src/schedule/jobs/remove_no_music_singer.ts
Due: eslint --fix, prettier --write

singer drawer
  apps/pwa/src/pages/player/index.tsx
  apps/pwa/src/pages/player/singer_drawer/index.tsx
  apps/pwa/src/pages/player/singer_drawer/singer_drawer.tsx
  apps/pwa/src/pages/player/singer_drawer/use_open.ts
  apps/pwa/src/pages/player/singer_drawer/use_singer.ts
Due: eslint --fix, prettier --write

get singer detail
  apps/pwa/src/pages/player/pages/my_singer/singer_list/singer_item.tsx
  apps/pwa/src/pages/player/pages/my_singer/singer_list/use_data.ts
  apps/pwa/src/pages/player/singer_drawer/constants.ts
  apps/pwa/src/pages/player/singer_drawer/singer_drawer.tsx
  apps/pwa/src/pages/player/singer_drawer/use_data.ts
  apps/pwa/src/pages/player/singer_drawer/use_singer.ts
Due: eslint --fix, prettier --write

singer drawer content
  apps/pwa/src/pages/player/components/music/container.ts
  apps/pwa/src/pages/player/pages/my_singer/toolbar/question.tsx
  apps/pwa/src/pages/player/singer_drawer/constants.ts
  apps/pwa/src/pages/player/singer_drawer/create_user.tsx
  apps/pwa/src/pages/player/singer_drawer/info.tsx
  apps/pwa/src/pages/player/singer_drawer/mini_info.tsx
  apps/pwa/src/pages/player/singer_drawer/music_list.tsx
  apps/pwa/src/pages/player/singer_drawer/singer_drawer.tsx
  apps/pwa/src/pages/player/singer_drawer/toolbar.tsx
  apps/pwa/src/pages/player/singer_drawer/use_data.ts
  apps/pwa/src/server/get_singer_detail.ts
  apps/server/src/api_app/controllers/get_singer_detail.ts
  shared/utils/notice/notice_app.tsx
  shared/utils/use_titlebar_area_rect.ts
Due: eslint --fix, prettier --write

fix singer mini info style
  apps/pwa/src/pages/player/singer_drawer/mini_info.tsx
Due: eslint --fix, prettier --write

improve singer drawer style
  apps/pwa/src/pages/player/constants.ts
  apps/pwa/src/pages/player/controller/index.tsx
  apps/pwa/src/pages/player/create_musicbill_dialog.tsx
  apps/pwa/src/pages/player/drawer_z_index.ts
  apps/pwa/src/pages/player/lyric/index.tsx
  apps/pwa/src/pages/player/musicbilll_order_drawer/index.tsx
  apps/pwa/src/pages/player/pages/my_music/create_music_dialog/index.tsx
  apps/pwa/src/pages/player/pages/my_singer/create_singer_dialog/index.tsx
  apps/pwa/src/pages/player/sidebar/content.tsx
  apps/pwa/src/pages/player/sidebar/musicbill_list/musicbill_list.tsx
  apps/pwa/src/pages/player/singer_drawer/index.tsx
  apps/pwa/src/pages/player/singer_drawer/info.tsx
  apps/pwa/src/pages/player/singer_drawer/singer_drawer.tsx
  apps/pwa/src/pages/player/singer_drawer/use_open.ts
  shared/components/dialog.tsx
  shared/components/drawer/drawer.tsx
  shared/components/spinner.tsx
  shared/components/vertical_drawer.tsx
  shared/constants/index.ts
  shared/constants/style.ts
  shared/utils/dialog/dialog_item.tsx
  shared/utils/notice/notice_item.tsx
Due: eslint --fix, prettier --write

improver player sidebar style
  apps/pwa/src/pages/player/sidebar/musicbill_list/musicbill_list.tsx
Due: eslint --fix, prettier --write

improve get singer detail
  apps/server/src/api_app/controllers/get_singer_detail.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{html,css,js,jsx,ts,tsx,json,md}
