Repository mebtte/cicada: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix"],
  "*.{html,css,js,jsx,ts,tsx,json,md}": ["prettier --write"]
}

update user export-musicbill-max-time-per-day
  apps/pwa/src/pages/player/pages/user_manage/edit_menu.tsx
  apps/pwa/src/server/admin_update_user.ts
  apps/server/src/api_app/controllers/admin_update_user.ts
  apps/server/src/api_app/controllers/create_music.ts
  apps/server/src/api_app/controllers/create_musicbill_export.ts
  apps/server/src/db/user.ts
  shared/constants/user.ts
Due: eslint --fix, prettier --write

update readme
  readme.md
Due: prettier --write

fix access origin
  apps/pwa/src/constants/setting.ts
  apps/pwa/src/global_states/setting.ts
  apps/pwa/src/pages/login/email_panel/setting_dialog.tsx
  apps/pwa/src/server/admin_create_user.ts
  apps/pwa/src/server/create_musicbill_export.ts
Due: eslint --fix, prettier --write

improve music edit menu
  apps/pwa/src/pages/player/music_drawer/create_user.tsx
  apps/pwa/src/pages/player/music_drawer/edit_menu.tsx
  apps/pwa/src/pages/player/music_drawer/music_drawer.tsx
  apps/pwa/src/pages/player/music_drawer/use_data.ts
  apps/pwa/src/pages/player/singer_drawer/use_data.ts
Due: eslint --fix, prettier --write

music detail show heat
  apps/pwa/src/pages/player/music_drawer/constants.ts
  apps/pwa/src/pages/player/music_drawer/info.tsx
  apps/pwa/src/pages/player/music_drawer/use_data.ts
  apps/pwa/src/server/get_music_detail.ts
Due: eslint --fix, prettier --write

fix server url
  apps/pwa/src/server/index.ts
  apps/pwa/src/server/upload_music_play_record.ts
Due: eslint --fix, prettier --write

improve setting's server origin
  apps/pwa/src/server/index.ts
  apps/pwa/src/server/upload_music_play_record.ts
Due: eslint --fix, prettier --write

improve music edit menu style
  apps/pwa/src/pages/player/music_drawer/edit_menu.tsx
Due: eslint --fix, prettier --write

import cmd
  apps/server/src/commands/import_music.ts
  apps/server/src/index.ts
Due: eslint --fix, prettier --write

import music
  apps/server/src/api_app/controllers/create_music.ts
  apps/server/src/api_app/controllers/create_singer.ts
  apps/server/src/commands/import_music.ts
  apps/server/src/db/music.ts
  apps/server/src/db/singer.ts
  apps/server/src/index.ts
  package.json
Due: eslint --fix, prettier --write

import music doc
  readme.md
Due: prettier --write

update pwa manifest
  apps/pwa/src/index.html
  apps/pwa/src/static/app_icon_maskable_180.png
  apps/pwa/src/static/app_icon_maskable_512.png
  apps/pwa/src/static/apple_touch_icon_precomposed.png
  apps/pwa/src/static/manifest.json
  materials/app_icon_maskable.psd
Due: prettier --write

auto beta build and push to docker hub
  .github/workflows/beta_docker_build_and_push.yaml
  docker_build_and_push.sh
Due: none

fix beta action
  .github/workflows/beta_docker_build_and_push.yaml
Due: none

fix react-spring import error
  apps/pwa/webpack/base.js
Due: eslint --fix, prettier --write

fix docker image not push
  docker_build_and_push.sh
Due: none

improve docker file
  Dockerfile
Due: none

pwa compatibility check
  apps/pwa/src/index.tsx
  apps/pwa/src/unsupported.tsx
  apps/server/src/requirement_check.ts
Due: eslint --fix, prettier --write

fix window.caches
  apps/pwa/src/pages/player/audio/index.tsx
  apps/pwa/src/pages/player/pages/setting/logout.tsx
  apps/pwa/src/static/doctor.html
  apps/pwa/tsconfig.json
  package.json
Due: eslint --fix, prettier --write

find pwa unsupported web api
  apps/pwa/src/index.tsx
  apps/pwa/src/unsupported.tsx
Due: eslint --fix, prettier --write

improve beta tag
  .github/workflows/beta_docker_build_and_push.yaml
Due: none

add base app
  apps/pwa/src/global_states/server_metadata.ts
  apps/pwa/src/pages/login/email_panel/captcha_dialog.tsx
  apps/pwa/src/pages/login/email_panel/use_captcha_data.ts
  apps/pwa/src/pages/login/login_code_panel.tsx
  apps/pwa/src/server/base/get_captcha.ts
  apps/pwa/src/server/base/get_login_code.ts
  apps/pwa/src/server/base/get_metadata.ts
  apps/pwa/src/server/base/login.ts
  apps/pwa/src/server/get_metadata.ts
  apps/server/src/api_app/router.ts
  apps/server/src/asset_app/controllers/resize_music_cover.ts
  apps/server/src/base_app/constants/index.ts
  apps/server/src/base_app/controllers/get_captcha.ts
  apps/server/src/base_app/controllers/get_login_code.ts
  apps/server/src/base_app/controllers/get_metadata.ts
  apps/server/src/base_app/controllers/login.ts
  apps/server/src/base_app/index.ts
  apps/server/src/base_app/router.ts
  apps/server/src/index.ts
  apps/server/src/initialize.ts
  apps/server/src/server.ts
  docs/version_update/index.md
  readme.md
  shared/constants/index.ts
Due: eslint --fix, prettier --write

update doc
  docs/version_update/index.md
  readme.md
Due: prettier --write

update doc
  readme.md
Due: prettier --write

increase music-name/music-alias/musicbill-name/singer-name/singer-alias/user-nickname max length
  shared/constants/music.ts
  shared/constants/musicbill.ts
  shared/constants/singer.ts
  shared/constants/user.ts
Due: eslint --fix, prettier --write

pwa exploration add cache
  apps/pwa/src/pages/player/pages/exploration/cache.ts
  apps/pwa/src/pages/player/pages/exploration/use_data.ts
  shared/utils/cache.ts
Due: eslint --fix, prettier --write

pwa exploration listen music updated
  apps/pwa/src/pages/player/pages/exploration/use_data.ts
Due: eslint --fix, prettier --write

pwa exploration listen singer updated
  apps/pwa/src/pages/player/pages/exploration/use_data.ts
Due: eslint --fix, prettier --write

improve upload asset
  apps/pwa/src/server/index.ts
  apps/pwa/src/server/upload_asset.ts
Due: eslint --fix, prettier --write

play record page
  apps/pwa/src/constants/route.ts
  apps/pwa/src/pages/player/pages/music_play_record/constants.ts
  apps/pwa/src/pages/player/pages/music_play_record/index.tsx
  apps/pwa/src/pages/player/pages/music_play_record/music_play_record_list/index.tsx
  apps/pwa/src/pages/player/pages/music_play_record/music_play_record_list/music_play_record.tsx
  apps/pwa/src/pages/player/pages/music_play_record/music_play_record_list/use_music_play_record_list.ts
  apps/pwa/src/pages/player/pages/music_play_record/toolbar/filter.tsx
  apps/pwa/src/pages/player/pages/music_play_record/toolbar/index.tsx
  apps/pwa/src/pages/player/pages/play_record/constants.ts
  apps/pwa/src/pages/player/pages/play_record/index.tsx
  apps/pwa/src/pages/player/pages/play_record/use_data.ts
  apps/pwa/src/pages/player/route.tsx
  apps/pwa/src/pages/player/sidebar/menu.tsx
  apps/pwa/src/server/get_music_play_record.ts
  apps/pwa/src/server/get_music_play_record_list.ts
  apps/server/src/api_app/controllers/get_music_play_record_list.ts
  apps/server/src/api_app/router.ts
Due: eslint --fix, prettier --write
